.slide-right {
	-webkit-animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.slide-left {
	-webkit-animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-down {
	-webkit-animation: slide-down 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-down 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.slide-up {
	-webkit-animation: slide-up 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-up 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}


