/*
For the shared > components > main-header-notifications.component, and other header submenu's


NOTE: This is a global style to be used on header components. Specific component styles should be added to the given component...


Format:
<mat-menu class="header-submenus notifications-menu" #notificationsMenu="matMenu">
  <div class="mat-menu-content" (click)="$event.stopPropagation()">
    <div class="arrow-up"></div>
    <div class="header-submenu-header">
      <h3>Notifications</h3>
    </div>
    <div class="header-submenu-content">
      <!-- Menu items -->
      <div *ngFor="let notification of notifications" class="menu-item {{notification.status}}">
        <span>{{notification.message}}</span>
      </div>
    </div>
  </div>
</mat-menu>

*/


body {
  .header-submenus {
    margin: 5px 0px;
    background-color: var(--main-header-menus-bg-color);
    overflow: unset;
    max-height: 720px;
    max-width: 500px;

    .mat-menu-content {
      padding: 0px;
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--main-header-menus-header-arrow-color);
        position: absolute;
        top: -8px;
        right: 10px;

        //top: calc(46px + env(safe-area-inset-top));
        @extend .submenu-arrowup-fade-in;
      }

      .header-submenu-header {
        padding: 14px 10px;
        background-color: var(--main-header-menus-header-bg-color);
        color: var(--main-header-menus-header-font-color);
        font-size: 12pt;
        display: flex;
        flex-direction: row;
        border-radius: 4px 4px 0px 0px;

        .title {
          width: 100%;
          display: inline-block;
          text-align: center;
        }


        h1,
        h2,
        h3 {
          margin: 0px;
        }
      }

      .header-submenu-content {
        overflow: auto;

        .menu-item {
          font-size: 15px;
          white-space: normal;
          height: auto;
          padding: 10px 20px;
          border-bottom: 1px solid rgb(204 204 204 / 28%);
        }
      }
    }
  }
}

//small height devices
@media (max-width: $screen-size-small) {
  body {
    .header-submenus {
      min-width: 300px;

      .mat-menu-content {
        .arrow-up {
         display: none;
        }
      }
    }
  }
}

//small height devices
@media (max-height: 800px) {
  body {
    .header-submenus {
      max-height: 500px;
    }
  }
}



.submenu-arrowup-fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
