$default-shadow: 0px 1px 1px var(--color-shadow-light);
$box-shadow-left-list: 5px 0px 0px;

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  .no-border-left {
    li {
      box-shadow: $default-shadow;
    }
  }

  &.clear > li {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    padding: 8px 5px;
    margin: 0px;
  }

  &.no-overflow > li {
    > * {
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
    }
  }

  > li {
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    float: none;
    margin-bottom: 8px;
    background-color: var(--color-lists-bg);
    box-shadow: $box-shadow-left-list #eeeeee inset, $default-shadow;
    border: 1px solid var(--color-lists-border);
    padding: 15px 0px;
    border-radius: 4px;
    min-height: 66px;
    white-space: nowrap;
    position: relative;

    > * {
      padding: 0px 15px;
      overflow: hidden;
      display: block;
      min-height: 25px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.border-left-blue {
      box-shadow: $box-shadow-left-list var(--color-primary-blue) inset;
    }
    &.border-left-red {
      box-shadow: $box-shadow-left-list var(--color-primary-red) inset;
    }
    &.border-left-orange {
      box-shadow: $box-shadow-left-list var(--color-primary-orange) inset;
    }

    &.titles {
      border: 0px;
      background-color: transparent;
      padding: 16px 5px;
      font-size: 13px;
      margin: 0px;
      box-shadow: none;
      min-height: auto;
      text-transform: uppercase;
      color: var(--color-primary-blue);
      padding-bottom: 15px;
    }

    &.heading {
      border: 0px;
      background-color: transparent;
      box-shadow: none;
      min-height: auto;
      text-transform: uppercase;
      margin-bottom: 0px;
      padding-bottom: 10px;
      font-size: 12px;
      padding-top: 5px;
      color: var(--color-secondary-font);
    }

    .actions {
      transition: all ease 0.2s;
      overflow: visible;
      position: absolute;
      z-index: 1;
      right: 10px;
      // display: none;

      .mat-button-base {
        background-color: var(--color-lists-actions-buttons-bg);
      }
    }

    .grow {
      flex-grow: 1;
    }

    .pull-right {
      align-items: flex-end;
      text-align: right;
    }

    &:hover {
      transition: all ease 0.2s;

      .actions {
        transition: all ease 0.2s;
        display: block;
      }
    }

    //Makes the mat ripple color lighter
    .mat-ripple-element {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.align-top {
      align-items: flex-start;
      padding-top: 15px;
    }
  }

  //custom hover class to add on hover background
  &.on-hover-bg {
    li:hover:not(.actions):not(.heading):not(.titles) {
      background-color: var(--color-lists-bg-on-hover);
      cursor: pointer;
    }
  }
}

@media (max-width: $mobile-mode-max-width) {
  .list {
    //To flip the orientation when on mobile. Only for options list
    &.options-list {
      > li {
        flex-direction: column;
        align-items: flex-start;

        > * {
          white-space: normal;
          width: auto !important;

          &:first-child{
            font-size: smaller;
            color: var(--color-secondary-font);
          }
        }
      }
    }

    > li {
      &.heading {
        display: none;
      }

      .actions {
        display: block;
      }
    }
  }
}
