@keyframes spinner {
  to {transform: rotate(360deg);}
}

body{
  .spinner:not(loader-full-screen){

    //Override angular material button styles in case this is added to a button
    &.mat-primary,
    &.mat-secondary,
    &.mat-accent,
    &.mat-warn,
    &.mat-button,
    &.mat-flat-button,
    &.mat-icon-button{
      color:transparent !important;
      opacity: 1 !important;
    }

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid var(--color-transparent);
      border-top-color: var(--color-primary-blue);
      animation: spinner .8s linear infinite;
    }

    &.bigger{
      &:before {
        width: 30px;
        height: 30px;
      }
    }

    &.white{

      &:before {
        content: '';
        border-top-color: var(--color-white);
      }

    }

    &.gray{

      &:before {
        content: '';
        border-top-color: var(--color-gray-spinner);
      }

    }
  }
}
