//For the main app loading indicator
//This style should be global, as it's used in the index.html (Only this case)

$g-size-initial: 10px;
$g-size: 90px;


.loader{
  transition: opacity ease-in 0.2s;
  background-color: var(--color-white);
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  opacity: 1;
  z-index: var(--zindex-fullscreen-loader);
  animation-name: fadeIn;
  animation-duration: 2s;
  display: flex;
  flex-direction: row;
  align-items: center;


  &.relative {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
  }

  div {
    margin: auto;
    display: inline-block;
    text-align: center;

    .mat-spinner {
      margin: auto;
    }

    p {
      margin-top: 40px;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing:  0.5em;
      color: var(--color-gray1);
    }
  }

  &.gray {
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: var(--color-gray1) !important;
    }
  }

  .g{
    background-image: url('../../../assets/img/logo/logo_Icon-gray-big.svg');
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: $g-size;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    opacity: 0.5;

    &.g-intro{
      animation: galen-g-animation-intro 1s ease-out;
    }

    &.g-exit{
      animation: galen-g-animation-exit 0.12s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
    }
  }

  &.removing{
    transition: opacity ease-out 0.18s;
    opacity: 0;
  }

}



/* ------------------------------------------------- */

@keyframes fadeIn {
	0% {
		transform: opacity(0);
	}

	100% {
		transform: opacity(1);
	}
}


/* ------------------------------------------------- */

@keyframes galen-g-animation-intro {
	0% {
    background-size: $g-size-initial;
    opacity: 0;
  }

	100% {
    background-size: $g-size;
    opacity: 0.5;
  }
}



/* ------------------------------------------------- */

@keyframes galen-g-animation-exit {
	0% {
    background-size: $g-size;
    opacity: 0.5;
  }

	100% {
    background-size: $g-size-initial;
    opacity: 0;
	}
}
