body {
  //To add space between elements
  .spacing,
  .separator,
  .spacer {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;

    &.short {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .full-width {
    width: 100%;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  cite {
    color: var(--color-secondary-font);
    margin: 20px 10px;
    font-style: normal;
    display: inline-block;
    width: 100%;
  }

  .clearfix {
    clear: both;
  }

  //----------------------------------------------
  // Simply a box. Add this to a div or wathever.
  /*
    Layout:
      <section class="box white">
        <div>
            <div>
              This div has padding
            </div>
            <ul class="list on-hover-bg clear">
              <li matRipple>
                <span class="name" style="width: 200px;">Rafael Feliz</span>
                <span class="hide-on-mobile email">rafael-feliz@live.com</span>
              </li>
            </ul>
        </div>
      </section>
  */
  .box {
    &.border-left {
      > div,
      > section {
        border-left: 6px solid var(--color-primary-borders-lighter);
      }
    }

    &.white {
      > div,
      > section {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    &.gray {
      > div,
      > section {
        background-color: var(--color-gray-light-transparent);
      }
    }

    > div,
    > form,
    > section {
      border: 1px solid var(--color-primary-borders);
      box-shadow: 0px 1px 0px rgb(0 0 0 / 4%);
      margin: 4px;
      border-radius: 5px;

      h1,
      h2,
      h3,
      h4 {
        margin: 0px;
      }

      hr {
        margin: 0px;
      }

      > div,
      > section {
        padding: 20px;
      }
    }
  }
  //----------------------------------------------

  .bold {
    font-weight: bold;
  }

  .padding {
    padding: 0px 4px;
  }

  .margin-right {
    margin-right: 5px;
  }
  .margin-left {
    margin-left: 5px;
  }

  .no-margin {
    margin: 0px;
    padding: 0px;
  }

  .hidden {
    display: none;
  }

  //For form fields. Usage: <span class="required">*</span>
  .required {
    color: var(--color-primary-red);
    font-weight: bold;
  }

  //***********************************
  //SCROLLBAR
  //***********************************

  /* width */
  ::-webkit-scrollbar {
    transition: all ease 0.2s;
    width: 8px;
    border-radius: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    transition: all ease 0.2s;
    background-color: var(--color-scrollbar-bg);
    border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    transition: all ease 0.2s;
    background-color: var(--color-scrollbar-bar);
    border-radius: 0px;

    &:hover {
      transition: all ease 0.2s;
      background-color: var(--color-scrollbar-bar-hover);
    }
  }
}

//***********************************
//MOBILE GLOBAL SPECIFIC
//***********************************

@media (min-width: $mobile-mode-max-width) {
  .show-on-mobile {
    display: none !important;
  }
}
@media (max-width: $mobile-mode-max-width) {
 body {
  .hide-on-mobile {
    display: none !important;
  }

  .box {
    > div,
    > section {
      border: 1px solid transparent;
      border-bottom: 1px solid var(--color-primary-borders);
    }
  }
 }
}
