
body{

  //Make the sentry dialog show appear of everything
  .sentry-error-embed-wrapper{
    z-index: var(--zindex-sentry-error-handler);
  }
  .sentry-error-embed {
    border-top: 15px solid var(--color-primary-borders);
  }

  .sentry-error-embed .form-field input, .sentry-error-embed .form-field textarea{
    background-color: transparent;
    box-shadow: none;
  }

}
