
body {
  .password-metter{
    width: 100%;
    z-index: 2;
    overflow: hidden;

    .mat-progress-bar {
      height: 4px;

      &.bar-hidden {
        visibility: hidden;
      }
    }

    .password-metter-info{
      margin-top:0px;
      padding: 10px 15px;
      background-color: var(--color-white);
      border: 1px solid var(--color-primary-borders);
      box-shadow: 1px 1px 5px var(--color-shadow-light);
    }
  }
}
