<div class="password-metter">

  <mat-progress-bar class="animate__animated animate__fadeInUp animate__faster" [ngClass]="{'bar-hidden': passwordString === '' || passwordStrongResult.percent >= 100 || passwordStrongResult.percent === 0}" mode="determinate" [value]="passwordStrongResult.percent"
    [color]="passwordStrongResult.percent < 80 ? 'warn' : 'primary'">
  </mat-progress-bar>

  <div class="password-metter-info animate__animated animate__fadeInDown animate__faster" *ngIf="inputFocused">
    <div><fa-icon [icon]="passwordStrongResult.hasEightChars ? GICON_FA_SOLIDCHECKCIRCLE : GICON_FA_TIMESCIRCLE" [ngClass]="{'color-green': passwordStrongResult.hasEightChars, 'color-red': !passwordStrongResult.hasEightChars}"></fa-icon> {{ 'general.passwordSecurityChars' | translate}}</div>
    <div><fa-icon [icon]="passwordStrongResult.hasNumber ? GICON_FA_SOLIDCHECKCIRCLE : GICON_FA_TIMESCIRCLE" [ngClass]="{'color-green': passwordStrongResult.hasNumber, 'color-red': !passwordStrongResult.hasNumber}"></fa-icon> {{ 'general.passwordSecurityNumber' | translate}}</div>
    <div><fa-icon [icon]="passwordStrongResult.hasUpper ? GICON_FA_SOLIDCHECKCIRCLE : GICON_FA_TIMESCIRCLE" [ngClass]="{'color-green': passwordStrongResult.hasUpper, 'color-red': !passwordStrongResult.hasUpper}"></fa-icon> {{ 'general.passwordSecurityUppercase' | translate}}</div>
    <div><fa-icon [icon]="passwordStrongResult.hasLower ? GICON_FA_SOLIDCHECKCIRCLE : GICON_FA_TIMESCIRCLE" [ngClass]="{'color-green': passwordStrongResult.hasLower, 'color-red': !passwordStrongResult.hasLower}"></fa-icon> {{ 'general.passwordSecurityLowercase' | translate}}</div>
    <div><fa-icon [icon]="passwordStrongResult.hasSpecialChar ? GICON_FA_SOLIDCHECKCIRCLE : GICON_FA_TIMESCIRCLE" [ngClass]="{'color-green': passwordStrongResult.hasSpecialChar, 'color-red': !passwordStrongResult.hasSpecialChar}"></fa-icon> {{ 'general.passwordSecuritySpecialChar' | translate}}</div>
  </div>

</div>
