<div class="loader" *ngIf="show >= 0" [ngClass]="{'removing': show == 0,
            'relative': relative,
            'gray': !spinnerBlue}">
  <div [ngClass]="{'g-exit': show < 1}" class="g" *ngIf="showG"></div>
  <div>
    <mat-spinner *ngIf="showSpinner" diameter="25"></mat-spinner>
  </div>
</div>
