@import '../../../scss/variables-media-query.scss';

.firestore-syncing {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 41px;
  height: 50px;
  background-color: var(--color-nav-bg);
  z-index: var(--zindex-loader-fixed);
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--color-white) !important;
  }

  fa-icon{
    color: var(--color-white);
    position: absolute;
  }
}


@media (max-width: $mobile-mode-max-width) {
  .firestore-syncing {
    top: calc(env(safe-area-inset-top, 0px)+4px);  //for ios devices fullscreen  https://css-tricks.com/the-notch-and-css/
    left: 4px;
  }
}
