<div *ngIf="showLoader" class="firestore-syncing animate__animated animate__bounceIn animate__slow" matTooltip="{{ 'general.offlinePendingWrites' | translate}}" matTooltipPosition="after">
  <mat-spinner diameter="35"></mat-spinner>
  <fa-icon [icon]="GICON_UP" class="animate__animated animate__heartBeat animate__infinite	infinite"></fa-icon>
</div>
