<div class="search-icon-bar">
  <div>
    <button mat-icon-button [ngClass]="{'gray': withBackground}" matTooltip="{{ (!barIsVisible ? 'general.search' : 'general.close') | translate}}" (click)="toggle();">
      <fa-icon [icon]="GICON_SEARCH" *ngIf="!barIsVisible"></fa-icon>
      <fa-icon [icon]="GICON_FA_ARROW_LEFT" *ngIf="barIsVisible"></fa-icon>
    </button>
  </div>
  <div *ngIf="barIsVisible" class="grow search-bar">
    <form  [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field class="full-width animate__animated animate__fadeInLeft animate__faster">
        <input type="text" matInput placeholder="{{'general.search' | translate }}" formControlName="search" #searchElement>
        <button type="button" mat-button matSuffix (click)="onSearch()">
          <fa-icon [icon]="GICON_SEARCH"></fa-icon>&nbsp;
        </button>
      </mat-form-field>
    </form>

  </div>

</div>
