.search-icon-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 55px;

  > div {
    vertical-align: middle;
    margin-right: 10px;

    &.search-bar {
      overflow: hidden;
    }
  }
}
