<div matTooltip="{{'general.offlineIconMessage' | translate}}"
                  matTooltipPosition="below"
class="animate__animated"
    [ngClass]="{'animate__fadeInDown': show, 'animate__fadeOutUp': !show}">
  <fa-icon [icon]="GICON_FA_WIFISLASH"></fa-icon>
</div>
