@import '../../../scss/variables-media-query.scss';

div {
  position: fixed;
  top: 0px;
  z-index: var(--zindex-offline-notification);
  background-color: var(--color-primary-red);
  padding: 8px 19px;
  color: var(--color-white);
  left: 50%;
  font-size: 17pt;
  border-radius: 0px 0px 33px 33px;
  box-shadow: 0px 5px 6px rgb(41 41 41 / 13%);
}

@media (max-width: $mobile-mode-max-width) {
  div {
    top: calc(env(safe-area-inset-bottom, 0px)+5px); //for ios devices fullscreen  https://css-tricks.com/the-notch-and-css/
    left: 60px;
    padding: 15px 15px;
    border-radius: 33px;
    font-size: 12pt;
  }
}
