@import "../../../scss/variables-media-query.scss";

.settings-home {
  margin: auto;
  max-width: 950px;
  padding: 20px 10px;

  header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    h1,h2,h3 {
      font-weight: bold;
      margin: 0px;
    }
  }

  > div {
    display: flex;
    flex-wrap: wrap;

    .box {
      max-width: 450px;
      width: 50%;

      > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 96%;

        > div {
          display: flex;
          flex-direction: row;
          flex-grow: 1;

          h2 {
            flex-grow: 1;
            margin-bottom: 5px;
          }

          fa-icon {
            font-size: 34pt;
            margin: 10px 20px 15px 20px;
            color: var(--color-primary-blue);
          }
        }

        footer {
          padding: 10px;
          border-top: 1px solid var(--color-primary-borders);
        }
      }
    }
  }
}

@media (max-width: $screen-size-medium) {
  .settings-home {
    padding: 10px;

    header {
      display: none;
    }

    > div {
      .box {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: $mobile-mode-max-width) {
  .settings-home {
    padding: 5px;
    > div {
      .box {
        > div {
          > div {
            padding: 10px;
            > div {
              fa-icon {
                display: block;
                margin: 10px;
                margin-top: 7px;
                font-size: 35px;
              }
            }
          }
        }
      }
    }
  }
}
