<div class="settings-home">

  <header>
    <avatar width="110" height="110" [bigBorder]="true" [imageObject]="userPhoto" [name]="userFullName"></avatar>
    <div>
      <h2>{{ 'settings.home.title' | translate}} <span>{{userFirstName}}</span></h2>
      <p>{{ 'settings.home.subtitle' | translate}}</p>
    </div>
  </header>

  <div>
    <div class="box white">
      <div>
        <div>
          <div>
            <fa-icon [icon]="GICON_USERS"></fa-icon>
          </div>
          <div>
            <h2>{{ 'general.users' | translate}}</h2>
            <p>{{ 'settings.home.usersSubtitle' | translate}}</p>
          </div>
        </div>
        <footer>
          <button mat-button [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS">
            {{'general.goto' | translate }}&nbsp;{{'general.users' | translate }}
          </button>
        </footer>
      </div>
    </div>

    <div class="box white">
      <div>
        <div>
          <div>
            <fa-icon [icon]="GICON_SECURITY"></fa-icon>
          </div>
          <div>
            <h2>{{ 'general.security' | translate}}</h2>
            <p>{{ 'settings.home.securitySubtitle' | translate}}</p>
          </div>
        </div>
        <footer>
          <button mat-button [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_SECURITY_ROLES">
            {{'general.goto' | translate }}&nbsp;{{'general.securityAndAccess' | translate }}
          </button>
        </footer>
      </div>
    </div>

    <div class="box white">
      <div>
        <div>
          <div>
            <fa-icon [icon]="GICON_CLINIC"></fa-icon>
          </div>
          <div>
            <h2>{{ 'general.clinics' | translate}}</h2>
            <p>{{ 'settings.home.clinicsSubtitle' | translate}}</p>
          </div>
        </div>
        <footer>
          <button mat-button [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_CLINICS">
            {{'general.goto' | translate }}&nbsp;{{'general.clinics' | translate }}
          </button>
        </footer>
      </div>
    </div>

    <div class="box white">
      <div>
        <div>
          <div>
            <fa-icon [icon]="GICON_ACCOUNT_BILLING"></fa-icon>
          </div>
          <div>
            <h2>{{ 'general.billingAndPlans' | translate}}</h2>
            <p>{{ 'settings.home.billingSubtitle' | translate}}</p>
          </div>
        </div>
        <footer>
          <button mat-button [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_BILLING">
            {{'general.goto' | translate }}&nbsp;{{'general.billingAndPlans' | translate }}
          </button>
        </footer>
      </div>
    </div>
  </div>


  <div class="text-center show-on-mobile margin-top">
    <cite>{{ 'settings.home.useMenuBarToViewMoreTip' | translate}}</cite>
  </div>

</div>
