
  .mat-bottom-sheet-container {
    .mat-nav-list .mat-list-item {
      line-height: initial;
      font-size: 16px;
      text-decoration: none;

      fa-icon {
        display: inline-block;
        width: 26px;
      }
    }
  }
