
body {
  .mat-dialog-container {
    border-top: 15px solid var(--color-primary-borders);
    min-width: 450px;
  }
}

//Small width devices
@media (max-width: $screen-size-medium) {
  body {
    .mat-dialog-container {
      min-width: 300px;
    }
  }
}
