body {
  .mat-flat-button {
    background-color: #eaeaea;
  }

  .mat-icon-button {
    line-height: 0px;
    font-size: 11pt;
    transition: all ease-in-out 0.3s;
    margin: 2px;

    &.offline {
      opacity: 0.4;
      cursor: not-allowed !important;
    }

    &.blue {
      transition: all ease-in-out 0.3s;
      background-color: var(--color-primary-blue);
      color: var(--color-white);
    }
    &.gray {
      transition: all ease-in-out 0.3s;
      background-color: var(--color-gray);
    }

    &:hover{
      transition: all ease-in-out 0.3s;
      background-color: #dadada;
      // background-color: rgba(0,0,0,0.1) !important;
    }
  }

  .mat-flat-button,
  .mat-stroked-button,
  .mat-button {
    border-radius: 0;
    padding: 2px 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: 400;
    // min-width: 110px;
    margin: 2px;

    &.small {
      min-width: auto;
    }

    &.offline {
      opacity: 0.4;
      cursor: not-allowed !important;
    }

    //disabled state
    &[ng-reflect-disabled="true"] {
      opacity: 0.4;
      cursor: default;
    }

    &.no-padding {
      padding: 0px;
    }

    //Make the button to have the same height and aligned to an input, in case you add it below or next an input
    &.align-with-input {
      height: 41px;
      margin-top: 4px;
    }

    //-------
    //Replace the default disabled background color so that it remains with the same color instead of using angular material
    //gray BG.
    &.mat-primary[disabled] {
      background-color: var(--color-primary-blue) !important;
      opacity: 0.5;
      cursor: not-allowed !important;
    }
    &.mat-secondary[disabled] {
      opacity: 0.5;
      cursor: not-allowed !important;
    }

    &.mat-accent[disabled] {
      background-color: var(--color-primary-blue-darker) !important;
      opacity: 0.5;
      cursor: not-allowed !important;
    }

    &.mat-warn[disabled] {
      background-color: var(--color-primary-red) !important;
      opacity: 0.5;
      cursor: not-allowed !important;
    }
    //-------

    fa-icon{
      display: inline-block;
      margin-bottom: 2px;
    }
  }

  .mat-button-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  .mat-stroked-button {
    border-color: var(--color-primary-borders);
  }

  //disabled
  .mat-button.mat-primary.mat-button-disabled,
  .mat-button.mat-accent.mat-button-disabled,
  .mat-button.mat-warn.mat-button-disabled,
  .mat-button.mat-button-disabled.mat-button-disabled,
  .mat-icon-button.mat-primary.mat-button-disabled,
  .mat-icon-button.mat-accent.mat-button-disabled,
  .mat-icon-button.mat-warn.mat-button-disabled,
  .mat-icon-button.mat-button-disabled.mat-button-disabled,
  .mat-stroked-button.mat-primary.mat-button-disabled,
  .mat-stroked-button.mat-accent.mat-button-disabled,
  .mat-stroked-button.mat-warn.mat-button-disabled,
  .mat-stroked-button.mat-button-disabled.mat-button-disabled {
    color: rgb(0 0 0 / 53%);
  }
}
