
body {
  .mat-snack-bar-container {
    background-color: var(--color-snackbar-bg);
    color: var(--color-snackbar-font);
    padding: 22px 19px;
    border-radius: 0px;
    border-left: 13px solid var(--color-primary-blue);

    .mat-button {
      color: var(--color-snackbar-button-font);
    }

    &.warning {
      border-left: 13px solid var(--color-orange);
      .mat-button {
        color: var(--color-orange);
      }
    }

    &.error {
      border-left: 13px solid var(--color-primary-red);

      .mat-button {
        color: var(--color-primary-red);
      }
    }

    &.info {
      border-left: 13px solid var(--color-gray1);

      .mat-button {
        color: var(--color-gray1);
      }
    }
  }
}

@media (max-width: $screen-size-extra-small) {
  //Make the snackbar and button one above the other for small devices
  .mat-simple-snackbar {
    flex-direction: column;

    > .mat-simple-snackbar-action {
      margin-top: 5px;
    }
  }
}

@media (max-width: $mobile-mode-max-width) {
  body {
    .mat-snack-bar-container {
      margin-top: calc(env(safe-area-inset-top, 0px) + 10px) !important; //for ios devices
    }
  }
}

