body {
  .mat-form-field-outline {
    background-color: rgb(255 255 255 / 10%);

    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0;
    }
  }
  .mat-form-field {
    line-height: 1.2; //Prevent the g bottom side to dissapear on textbox

    .mat-button {
      padding: 4px 8px;
      min-width: 55px;
    }
  }

  //Remove border radius from the gap.
  .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-radius: 0px;
  }
  //ancho del borde cuando pasas el mouse o haces click en el input
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-start,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-end,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-gap {
    border-width: 1px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .mat-form-field-label-wrapper {
    top: -1.2em;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 0.5em 0 0.8em 0;
      width: auto; //remove auto width on text field
    }
  }

  //input length count position
  .mat-form-field-subscript-wrapper {
    margin-top: 3px;
    margin-bottom: 5px;
    position: static;
  }

  //MAT SUFFIX
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    //Default
    top: -1px;
    right: -5px;

    //For text inside span inside the MAT Suffix. Example: Phone number input field prefix.
    span {
      font-size: 10pt;
    }

    //Button in form input mat suffix
    button {
      top: 0px;
      right: -10px;
    }
    //Icon in mat suffix
    > fa-icon,
    help-icon {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
