body {
  .mat-menu-panel {
    min-width: 150px;
    margin: 5px;

    .mat-menu-item {
      font-size: 15px;
      fa-icon {
        display: inline-block;
        width: 23px;
      }
      .avatar-container {
        margin-right: 5px;
      }
    }
  }
}
