body{
  .mat-option {
    font-size: 14px;
    .mat-option-text{
      span, small, p{
        color: var(--color-gray1);
      }
    }
  }

  //selected mat-select option, prevent setting it to blue (angular default)
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color:inherit;
  }

  //Select arrow, correctly allign to the center.
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%);
  }
}
