body {
  .mat-list-base {
    .mat-list-item {
      font-size: 16px;
      color: var(--color-primary-font);

      .mat-list-icon {
        width: 20px;
        height: 20px;
        font-size: 21px;
      }

      &.active {
        background: rgb(0 0 0 / 4%);
      }
    }



    .mat-subheader {
      color: var(--color-primary-blue);
      text-transform: uppercase;
      margin-top: 25px;
      font-weight: 400;
    }
  }

  //Selection color // hover color for list items
  .mat-list-single-selected-option:hover,
  .mat-list-single-selected-option.active
  .mat-list-single-selected-option:focus{
    background: rgb(0 0 0 / 4%);
  }

  //Disable selection color without the active class. To set as active, add the active class.
  .mat-list-single-selected-option{
    background: transparent;
  }
}
