
/* For use in src/lib/core/theming/_palette.scss */
$md-primary-blue: (
    50 : #ecf5ff,
    100 : #cfe5ff,
    200 : #afd4ff,
    300 : #8fc2ff,
    400 : #77b5ff,
    500 : #5fa8ff,
    600 : #57a0ff,
    700 : #4d97ff,
    800 : #438dff,
    900 : #327dff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dde9ff,
    A700 : #c3d8ff,
    contrast: (
        50 : #343538,
        100 : #343538,
        200 : #343538,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #343538,
        A200 : #343538,
        A400 : #343538,
        A700 : #343538,
    )
);

$md-primary-dark-blue: (
    50 : #ecf5ff,
    100 : #cfe5ff,
    200 : #afd4ff,
    300 : #8fc2ff,
    400 : #77b5ff,
    500 : #5fa8ff,
    600 : #57a0ff,
    700 : #4d97ff,
    800 : #438dff,
    900 : #327dff,
    A100 : #b2d0ff,
    A200 : #7fb1ff,
    A400 : #4c92ff,
    A700 : #3283ff,
    contrast: (
        50 : #343538,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #343538,
        A200 : #343538,
        A400 : #343538,
        A700 : #ffffff,
    )
);

$md-primary-red: (
    50 : #fdeded,
    100 : #fbd3d3,
    200 : #f8b6b6,
    300 : #f59899,
    400 : #f38283,
    500 : #f16c6d,
    600 : #ef6465,
    700 : #ed595a,
    800 : #eb4f50,
    900 : #e73d3e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcece,
    A700 : #ffb4b5,
    contrast: (
        50 : #343538,
        100 : #343538,
        200 : #343538,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #343538,
        A200 : #343538,
        A400 : #343538,
        A700 : #343538,
    )
);

