
p {
    font-size: 10pt;
    color: var(--color-secondary-font);
}


hr {
  border: 0px;
  border-bottom: 1px;
  border-color: var(--color-primary-borders);
  border-style: solid;
  margin-top:10px;
  margin-bottom:10px;
}
