<header>
  <h1><fa-icon [icon]="GICON_DASHBOARD"></fa-icon> Dashboard</h1>
</header>
<div>
  <nothing-found titleRef="This page is not ready yet..."
    subtitleRef="Sit and relax, we will get back with this soon..." [image]="1">
  </nothing-found>

</div>
