@import "../../scss/variables-media-query.scss";
@import "../../scss/general/animations.scss";

.settings {
  // ------------------------
  .settings-content-container {
    display: flex;

    .menu {
      width: 320px;
      position: fixed;
      z-index: 1;
      height: calc(100% - var(--main-header-height));
      overflow-y: auto;


      .mat-list-item:last-child {
        margin-bottom: 50px; //env(safe-area-inset-bottom); //for ios devices fullscreen  https://css-tricks.com/the-notch-and-css/
      }

      .mat-selection-list {
        padding-top: 0px;
      }

    }

    .settings-content {
      flex-grow: 1;
      margin-left: 320px;
    }
  }
}

@media (max-width: $screen-size-large) {
  .settings {
    // ------------------------
    .settings-content-container {
      .menu {
        width: 290px;
      }

      .settings-content {
        margin-left: 290px;
      }
    }
  }
}


@media (max-width: $mobile-mode-max-width) {
  .settings {
    // ------------------------
    .settings-content-container {
      flex-direction: column;

      .settings-content {
        margin-left: 0px;
      }

      .menu {
        position: fixed;
        left: 0px;
        height: calc(100% - 100px);
        z-index: var(--zindex-subNavs);
        width: 100%;
        overflow-y: auto;
        background-color: var(--color-primary-blue-medium);
        display: none;
        span, fa-icon {
          color: var(--color-white);
        }

        fa-icon {
          padding: 10px 10px 15px 10px;
        }
      }

      &.show-menu {
        .menu {
          display: block;
        }
      }
    }
  }
}
