<header>
  <h1>
    <fa-icon [icon]="GICON_SETTINGS" class="hide-on-mobile"></fa-icon>
    <fa-icon [icon]="GICON_MENUBARS" class="show-on-mobile" (click)="toggleMenu()"></fa-icon>
    {{ 'general.accountAndSettings' | translate}}
  </h1>
</header>

<div class="settings">
  <div class="settings-content-container" [ngClass]="{'show-menu': showingMenu}">
    <div class="menu" [ngClass]="{'slide-down': showingMenu}">
      <mat-selection-list [multiple]="false" #matList>
        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_HOME" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="GICON_FA_HOME"></fa-icon>
          </span>
          <span>{{ 'general.home' | translate}}</span>
        </mat-list-option>

        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_PROFILE" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="GICON_PROFILE"></fa-icon>
          </span>
          <span>{{ 'general.profile' | translate}}</span>
        </mat-list-option>

        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="GICON_USERS"></fa-icon>
          </span>
          <span>{{ 'general.users' | translate}}</span>
        </mat-list-option>

        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_SECURITY_ROLES" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="GICON_SECURITY"></fa-icon>
          </span>
          <span>{{ 'general.securityAndAccess' | translate}}</span>
        </mat-list-option>

        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_CLINICS" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="GICON_CLINIC"></fa-icon>
          </span>
          <span>{{ 'general.clinics' | translate}}</span>
        </mat-list-option>

        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_BILLING" routerLinkActive="active" (click)="showingMenu = false;">
          <span matListIcon>
            <fa-icon [icon]="gIcon_accountBilling"></fa-icon>
          </span>
          <span>{{ 'general.billingAndPlans' | translate}}</span>
        </mat-list-option>



        <div mat-subheader>{{ 'general.patients' | translate}}</div>

        <mat-list-option routerLinkActive="active">
          <span matListIcon>
            <fa-icon [icon]="GICON_PAPER"></fa-icon>
          </span>
          <span>Clinical file templates</span>
        </mat-list-option>

        <mat-list-option routerLinkActive="active">
          <span matListIcon>
            <fa-icon [icon]="GICON_PAPER"></fa-icon>
          </span>
          <span>Vital signs</span>
        </mat-list-option>

        <mat-list-option routerLinkActive="active">
          <span matListIcon>
            <fa-icon [icon]="GICON_PAPER"></fa-icon>
          </span>
          <span>Patients indications templates</span>
        </mat-list-option>

        <mat-list-option routerLinkActive="active">
          <span matListIcon>
            <fa-icon [icon]="GICON_PAPER"></fa-icon>
          </span>
          <span>Agenda</span>
        </mat-list-option>



        <div mat-subheader>{{ 'general.historical' | translate}}</div>


        <mat-list-option [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_EMAILSQUEUE" routerLinkActive="active">
          <span matListIcon>
            <fa-icon [icon]="gIcon_emailQueue"></fa-icon>
          </span>
          <span>{{ 'general.emailQueue' | translate}}</span>
        </mat-list-option>


      </mat-selection-list>



    </div>
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
