@import '../../scss/variables-media-query.scss';

section{

  .remember-me {
    min-width:60px;
  }

  .fields {
    margin-top: -8%;
  }

  .right-pane{
    text-align: right;
    margin-top:-18%;

    > div{
      transition: all ease-in 0.2s;
      width:100%;
      max-width: 450px;
      display: inline-block;
      padding-right: 200px;
      text-align: left;

      .right-pane-icon{
        background-image: url('../../../assets/img/login/galen-asset_login-icon.svg');
        background-repeat:no-repeat;
        width:200px;
        height: 130px;
        margin-right:30px;
      }
    }
  }
}

//Extra large width devices
@media (min-width: $screen-size-extra-large){
  section{
    .right-pane{
      margin-top:-22%;

      > div{
        max-width: 600px;
        padding-right: 20%;
        text-align: left;
      }
    }
  }
}


//Large width devices
@media (max-width: $screen-size-large){
  section{
    .right-pane{
      > div{
        padding-right: 10%;
      }
    }
  }
}


//Medium width devices
@media (max-width: $screen-size-medium){
  section{

    .fields {
      margin-top: auto;
    }

    .right-pane{
      display: none;
    }
  }
}
