<section class="main-container" fxLayout fxLayoutAlign="center center">
  <div class="fields" fxLayout="column" fxFlex.gt-md="42" fxFlex.gt-sm="55" fxFlex.xl="38">
    <div class="auth-logo" title="{{'general.logoTitle' | translate}}"></div>
    <div>
      <!-- --------------------------------------------------------------------------- -->
      <!-- LOGIN -->
      <div *ngIf="!twoStepRequired">
        <h1>{{'login.loginText' | translate }}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <mat-label>{{'general.email' | translate }}</mat-label>
            <input type="email" formControlName="email" matInput placeholder="{{'general.exampleEmail' | translate}}">
            <mat-error *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.hasError('required')">
              {{'general.emailRequired' | translate}}</mat-error>
            <mat-error
              *ngIf="loginForm.controls.email.dirty && !loginForm.controls.email.hasError('required') && loginForm.controls.email.invalid">
              {{'general.emailInvalid' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>{{'general.password' | translate }}</mat-label>
            <input type="password" formControlName="password" matInput>
            <mat-error *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.hasError('required')">
              {{'general.passwordRequired' | translate}}</mat-error>
            <mat-error
              *ngIf="loginForm.controls.password.dirty && !loginForm.controls.password.hasError('required') && loginForm.controls.password.invalid">
              {{'general.passwordShort' | translate}}</mat-error>

            <button type="button" class="remember-me" mat-button matSuffix (click)="rememberMe = !rememberMe"
              matTooltip="{{'login.rememberMeTooltip' | translate}}" matTooltipPosition="right"
              [ngClass]="{'color-blue': rememberMe}">
              <fa-icon [icon]="rememberMe ? ligthFaToggleOn : ligthFaToggleOff"></fa-icon>&nbsp;
              <span>{{'login.rememberMe' | translate}}</span>
            </button>
          </mat-form-field>
          <div id="loginRecaptchaContainer"></div>

          <inline-notification [message]="loginMessage" [type]="loginMessageType"></inline-notification>

          <button type="submit" mat-flat-button color="primary" [loading]="signingIn" class="full-width" offline-disable>
            {{'login.loginText' | translate }}
          </button>

          <div fxLayout="row" fxLayout.lt-sm="column">
            <button type="button" mat-button class="full-width"
              [routerLink]="['/' + PATH_PASSWORD_RESET]" offline-disable>{{'login.forgotButtonText' | translate }}</button>
            <button type="button" mat-button class="full-width"
              [routerLink]="['/' + PATH_REGISTER]" offline-disable>{{'login.registerButtonText' | translate }}</button>
          </div>

        </form>
      </div>


      <!-- --------------------------------------------------------------------------- -->
      <!-- TWO FACTOR AUTH CODE REQUEST -->
      <div *ngIf="twoStepRequired" class="animate__animated  animate__fadeInRight animate__faster">
        <h1>{{'login.2stepTitle' | translate }}</h1>
        <p>{{'login.2stepSubTitle' | translate}}</p>
        <div class="spacing"></div>
        <form [formGroup]="twoStepForm" (ngSubmit)="validateTwoFactor()">

          <!-- 2-STEP HINTS -->
          <mat-form-field class="full-width">
            <mat-label>{{'login.2stepDeviceSelect' | translate}}</mat-label>
            <mat-select formControlName="selectedFactor">
              <mat-option *ngFor="let factor of twoStepResolver?.hints; let i = index" [value]="i">
                {{factor.displayName}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="twoStepForm.controls.selectedFactor.dirty && twoStepForm.controls.selectedFactor.hasError('required')">
              {{'general.codeRequired' | translate}}</mat-error>
          </mat-form-field>

          <!-- SEND SMS AND SET CODE -->
          <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="calc(40%-5px)">
              <button type="button"  mat-flat-button color="secondary" [loading]="twoFactorSendingSms"
                class="full-width align-with-input small" (click)="sendTwoFactorSms()" offline-disable [disabled]="twoFactorIsDisabled">
                {{twoFactorIsDisabled && !twoFactorSendingSms ? twoFactorIsDisabledIntervalCount : ""}} {{sendSmsStr}}
              </button>
            </div>
            <div fxFlex="calc(60%-5px)">
              <mat-form-field class="full-width">
                <mat-label>{{'general.receivedCode' | translate}}</mat-label>
                <input #code type="text" matInput formControlName="code">
                <mat-error *ngIf="twoStepForm.controls.code.dirty && twoStepForm.controls.code.hasError('required')">
                  {{'general.codeRequired' | translate}}</mat-error>
              </mat-form-field>

            </div>
          </div>

          <inline-notification [message]="loginMessage" [type]="loginMessageType"></inline-notification>


          <div fxLayout="row" fxLayout.lt-sm="column">
            <button type="submit" mat-flat-button color="primary" [loading]="twoFactorSubmitting" class="full-width" offline-disable>
              {{'general.validate' | translate }}
            </button>
          </div>

        </form>

      </div>
    </div>

    <!-- RECAPTCHA REFERENCE -->
    <div class="recaptcha-reference">
      <p [innerHTML]="'general.googleRecaptchaReference' | translate "></p>
    </div>

  </div>
  <div class="right-pane" fxFlex="grow">
    <div>
      <div fxLayout fxLayoutAlign="left center">
        <div class="right-pane-icon"></div>
        <h2>{{'login.message' | translate }}</h2>
      </div>
    </div>
  </div>


  <div id="twoStepRecaptchaContainer" fxHide></div>

</section>
<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
<auth-right-people type="login"></auth-right-people>
