@import '../../scss/variables-media-query.scss';

.main-container{
  padding:40px;
  height: 100%;
  background-image: url('../../../assets/img/login/galen-asset_login-bg-med.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;

  .container{
    margin-left:60px;
  }

  .img-container{
    background-repeat: no-repeat;
    background-position: center right;
    height: 100%;
    max-height: 450px;
    background-size: contain;
    width: 40%;
  }

}

//extra large devices
@media (min-width: $screen-size-extra-extra-large){
  .main-container{
    .img-container{
      width: 20%;
    }
  }
}


@media (max-width: $screen-size-medium){
  .main-container{
    background-image: none;

    .container{
      margin-left:0px;
    }

    .img-container{
      background-position: center center;
      max-height: 250px;
      margin-bottom:30px;
      width: 80%;
    }

  }
}

@media (max-width: $screen-size-extra-small){
  .main-container{
    .img-container{
      display: none;
    }
  }
}
