<section class="main-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <div class="img-container" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}"></div>

  <div class="container" fxLayout="column"  fxFlex.gt-md="40" fxFlex.xl="25">
    <div class="auth-logo" title="{{'general.logoTitle' | translate}}"></div>

    <!-- TITLES AND TEXT FOR DIFFERENT ERROR TYPES -->

    <!-- NOT FOUND -->
    <h1 *ngIf="errorType === 'not-found'">{{'errorPages.resourceNotFound' | translate }}</h1>
    <p *ngIf="errorType === 'not-found'">{{'errorPages.resourceNotFoundText' | translate }}</p>

    <!-- NOT ALLOWED -->
    <h1 *ngIf="errorType === 'not-allowed'">{{'errorPages.notAllowed' | translate }}</h1>
    <p *ngIf="errorType === 'not-allowed'">{{'errorPages.notAllowedText' | translate }}</p>



    <div fxLayout="row" fxLayout.lt-sm="column">
      <div><a  mat-button href="/"  class="full-width">{{'general.backToHome' | translate }}</a></div>
    </div>

  </div>

</section>
<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
