<div [ngClass]="{'menu-open': contextMenuTrigger.menuOpen}">
  <button mat-icon-button [matMenuTriggerFor]="contextMenu"
    #contextMenuTrigger="matMenuTrigger"
    (click)="onMenuTriggerButtonClick($event)">
    <fa-icon [icon]="GICON_DOTS_OPTIONS"></fa-icon>
  </button>

  <mat-menu #contextMenu="matMenu" class="context-menu">
    <div *ngFor="let menuItem of content">
      <button mat-menu-item *ngIf="!menuItem.isSeparator" (click)="onClick(menuItem.actionName)">
        <fa-icon [icon]="menuItem.iconRef"></fa-icon> {{ menuItem.langRef | translate}}
      </button>
      <mat-divider *ngIf="menuItem.isSeparator"></mat-divider>
    </div>
  </mat-menu>
</div>
