.menu-open{
  .mat-icon-button {
    background-color: var(--color-primary-blue) !important;
    color: var(--color-white);

  }
  .context-menu {
    border-top: 5px solid var(--color-primary-blue);
  }

}

