
  <header>
    <h1>Personal Settings</h1>
  </header>
  <section>

    <nothing-found titleRef="This page is not ready yet..."
      subtitleRef="Sit and relax, we will get back with this soon..." [image]="1">
    </nothing-found>


  </section>
