<h2 mat-dialog-title [ngClass]="{'color-red': isWarning && title !== ''}" [innerHTML]="title | translate"></h2>

<div mat-dialog-content>
  <p [ngClass]="{'color-red': isWarning && !title}" [innerHTML]="message | translate"></p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onDismiss()">{{'general.no' | translate }}</button>
  <button mat-flat-button [color]="isWarning ? 'warn' : 'primary'" (click)="onConfirm()">{{'general.yes' | translate }}</button>
</div>
