
@import '../../../scss/variables-media-query.scss';

body {
  main {
    nav {
      height: 100%;
      background-color: var(--color-nav-bg);
      text-align: center;

      > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        //make the first icons row fill the available space
        > div:first-child {
          flex-grow: 1;
        }

        .nav-show-on-mobile {
          display: none;
        }

        .galen-logo {
          background: url("../../../../assets/img/logo/logo_Icon-white-small.svg");
          display: inline-block;
          width: 30px;
          height: 40px;
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .nav-separator {
          border-bottom: 1px solid var(--color-nav-separator);
          display: inline-block;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 50%;
        }

        a {
          text-decoration: none;
          transition: all ease 0.2s;
          color: var(--color-nav-text-color);
          text-decoration: none;
          display: block;
          font-size: 17pt;
          padding: 13px 6px;
          cursor: pointer;

          &:hover {
            text-decoration: none;
            background-color: var(--color-nav-hover);
          }
          &.active {
            background-color: var(--color-nav-active);
            box-shadow: 4px 0px 0px var(--color-nav-active-border) inset;
          }
        }
      }
    }
  }
}

//NAV SUB MENU
.nav-submenu {
  width: 230px;
  text-align: center;

  .title {
    text-align: center;
    padding: 10px 20px;
    margin: 0px;
  }
  .photo {
    position: relative;

    avatar {
      display: inline-block;
      margin: 15px auto;
    }

    .upload-button {
      display: none;
      position: absolute;
      top: 0px;
      right: 10px;
    }

    &:hover {
      .upload-button {
        display: block;
      }
    }
  }
}

//Portrait mode
@media (max-width: $mobile-mode-max-width) {
  body {
    main {
      nav {
        height: 100%;
        background-color: var(--color-nav-mob-bg);
        color: var(--color-nav-mob-text-color);
        text-align: center;

        padding-bottom: calc(env(safe-area-inset-bottom, 20px) - 15px); //for ios devices full screen https://css-tricks.com/the-notch-and-css/  // 20PX is to reduce padding, it will only be applied if ENV is set.


        > div {
          > div:first-child {
            display: flex;
          }

          .nav-hide-on-mobile {
            display: none;
          }
          .nav-show-on-mobile {
            display: inline-block;
          }

          > div:first-child {
            flex-grow: inherit;
          }

          a {
            width: 20%;
            display: inline-block;
            padding: 20px;
            color: var(--color-nav-mob-text-color);

            &:hover {
              background-color: var(--color-nav-mob-active);
              text-decoration: none;
              background-color: var(--color-nav-mob-hover);
            }

            &.active {
              background-color: var(--color-nav-mob-active);
              box-shadow: 0px 4px 0px var(--color-nav-mob-active-border) inset;
            }
          }
        }
      }
    }
  }
}

//landscape mode
@media (max-height: $mobile-mode-max-width) and (min-width: 700px) {
  body {
    main {
      nav {
        padding-left: env(
          safe-area-inset-bottom
        ); //for ios devices full screen https://css-tricks.com/the-notch-and-css/
      }
    }
  }
}
