<nav>
  <div>
    <div>
      <div class="galen-logo nav-hide-on-mobile"></div>

      <!-- The main nav top part -->

      <a matRipple class="nav-search nav-hide-on-mobile" matTooltip="{{ 'general.search' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_SEARCH"></fa-icon>
      </a>
      <a matRipple class="nav-add nav-hide-on-mobile" matTooltip="{{ 'general.add' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_ADD"></fa-icon>
      </a>

      <div class="nav-separator nav-hide-on-mobile"></div>

      <a matRipple matTooltip="{{ 'general.dashboard' | translate}}" [matTooltipPosition]="matPosition" [routerLink]="'/' + PATH_DASHBOARD" routerLinkActive="active">
        <fa-icon [icon]="GICON_DASHBOARD"></fa-icon>
      </a>
      <a matRipple matTooltip="{{ 'general.agenda' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_AGENDA"></fa-icon>
      </a>
      <a matRipple matTooltip="{{ 'general.patients' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_PATIENTS"></fa-icon>
      </a>
      <a matRipple matTooltip="{{ 'general.billing' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_BILLING"></fa-icon>
      </a>
      <a matRipple class="nav-hide-on-mobile" matTooltip="{{ 'general.reports' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_REPORTS"></fa-icon>
      </a>
      <a matRipple class="nav-hide-on-mobile" matTooltip="{{ 'general.waitingList' | translate}}" [matTooltipPosition]="matPosition">
        <fa-icon [icon]="GICON_WAITINGLIST"></fa-icon>
      </a>

      <a matRipple class="nav-show-on-mobile" matTooltip="{{ 'general.seeMore' | translate}}" [matTooltipPosition]="matPosition" (click)="openMobileModeMenuComponent()">
        <fa-icon [icon]="GICON_MENUBARS"></fa-icon>
      </a>
    </div>

    <!--

        ***********

        REMEMBER TO EDIT mobile-mode-menu view if you change something here

        ***********


     -->

    <!-- The main nav area located at the bottom -->
    <div class="nav-hide-on-mobile">
      <a matRipple matTooltip="{{ 'general.accountAndSettings' | translate}}" [matTooltipPosition]="matPosition" [routerLink]="['/' + PATH_ACCOUNT]" routerLinkActive="active">
        <fa-icon [icon]="GICON_SETTINGS"></fa-icon>
      </a>
      <a matRipple [matMenuTriggerFor]="personalSettingsMenu" matTooltip="{{userName}}" [matTooltipPosition]="matPosition">
        <avatar [imageObject]="userPhoto" [name]="userName" [width]="28" [height]="28" [border]="false"></avatar>
      </a>
    </div>
  </div>


    <!-- The user menu (Personal settings, logout, profile pic) -->

  <mat-menu #personalSettingsMenu="matMenu" yPosition="above">
    <div class="nav-submenu">
      <p class="title">{{userName}}</p>

      <div class="photo">
        <avatar  [imageObject]="userPhoto" [name]="userName" [width]="150" [height]="150" [border]="10" [openOnClick]="true"></avatar>

        <div class="upload-button">
         <file-upload [firebase-storage-path]="userProfilePhotoType"
               firestore-property-name="photo"
               [firestore-path]="profilePictureFirestorePath"
               [record-id]="userEmail"
               button-text="general.change"
               [icon-button-only]="true"
               max-file-size-mb="5"
               [allowed-files-count]="1">
         </file-upload>
        </div>
      </div>

      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_PROFILE]"><fa-icon [icon]="GICON_PROFILE"></fa-icon> {{ 'general.profile' | translate}}</button>
      <button mat-menu-item (click)="onLogout()"><fa-icon [icon]="GICON_SIGNOUT"></fa-icon> {{ 'general.logout' | translate}}</button>
    </div>
  </mat-menu>

</nav>
