<mat-nav-list>


  <div class="profile-area">
    <p class="title">{{userName}}</p>
    <avatar [imageObject]="userPhoto"  [name]="userName" [width]="200" [height]="200" [border]="10" [openOnClick]="true"></avatar>

    <div class="upload-button">
      <file-upload [firebase-storage-path]="userProfilePhotoType"
            firestore-property-name="photo"
            [firestore-path]="profilePictureFirestorePath"
            [record-id]="userEmail"
            button-text="general.change"
            [icon-button-only]="true"
            max-file-size-mb="5"
            [allowed-files-count]="1">
      </file-upload>
     </div>
  </div>

  <a mat-list-item (click)="closeMenu()">
    <fa-icon [icon]="GICON_REPORTS"></fa-icon> {{ 'general.reports' | translate}}
  </a>

  <a mat-list-item (click)="closeMenu()">
    <fa-icon [icon]="GICON_WAITINGLIST"></fa-icon> {{ 'general.waitingList' | translate}}
  </a>

  <a mat-list-item  [routerLink]="['/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_HOME]" (click)="closeMenu()">
    <fa-icon [icon]="GICON_SETTINGS"></fa-icon> {{ 'general.accountAndSettings' | translate}}
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item  [routerLink]="['/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_PROFILE]" (click)="closeMenu()">
    <fa-icon [icon]="GICON_PROFILE"></fa-icon> {{ 'general.profile' | translate}}
  </a>

  <a mat-list-item (click)="onLogout()" (click)="closeMenu()">
    <fa-icon [icon]="GICON_SIGNOUT"></fa-icon> {{ 'general.logout' | translate}}
  </a>


</mat-nav-list>
