.profile-area{
  margin:20px;
  text-align: center;


  .upload-button {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &:hover {
    .upload-button {
      display: block;
    }
  }
}

.mat-list-item:last-child {
  margin-bottom: env(safe-area-inset-bottom); //for ios devices fullscreen  https://css-tricks.com/the-notch-and-css/
}
