
//the pages/main.component.scss contains more styles related with this.
@import '../../../scss/variables-media-query.scss';

body {
  .main-header {
    position: fixed;
    top: 10px;
    right: 0px;
    height: var(--main-header-height);
    z-index: var(--zindex-header);
    padding: 0px 15px;


    > div {
      > * {
        margin-right: 2px;
      }

      .mat-icon-button {
        background-color: var(--main-header-mat-icon-button-bg-color);
        width: 45px;
        height: 45px;

        fa-icon {
          font-size: 18px;
        }
      }

      &.header-main-area {
        visibility: hidden;

        .g-logo {
          background-image: url("../../../../assets/img/logo/logo_Icon-gray-big.svg");
          width: 30px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .show-on-mobile {
      display: none;
    }
    .hide-on-mobile {
      display: block;
    }
  }

  @media (max-width: $screen-size-small) {
    .main-header {
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: var(--color-primary-blue-medium);
      color: var(--color-white);
      width: 100%;
      z-index: var(--zindex-header);
      height: calc(#{var(--main-header-height)} + env(safe-area-inset-top, 0px));
      padding-top: env(safe-area-inset-top, 0px);

      > div {
        > * {
          margin-right: 1px;
        }

        .mat-icon-button {
          background-color: transparent;
          width: 40px;
          height: 40px;
        }
        &.header-main-area {
          visibility: visible;
        }

      }

      .show-on-mobile {
        display: block;
      }
      .hide-on-mobile {
        display: none;
      }
    }
  }

  @media (max-width: $screen-size-extra-small) {
    .main-header {
      > div {
        .button-add {
          display: none;
        }
      }
    }
  }
}
