<div class="main-header" fxLayout="row" fxLayoutAlign="center">

  <!-- Galen logo - Visible on mobile -->
  <div class="header-main-area" fxFlex="grow" fxLayoutAlign="left" fxFlexAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="g-logo"></div>
    </div>
  </div>
  <loader-firestore-syncing></loader-firestore-syncing>


  <!-- The icons to the right on the header -->
  <div class="header-icons-area" fxLayoutAlign="center" fxFlexAlign="center">

    <div fxFlexAlign="center">
      <main-header-clinic-selector></main-header-clinic-selector>
    </div>

    <!-- Search button, that is on the main navigation menu, and this one is only visible on mobile -->
    <div fxFlexAlign="center">
      <button mat-icon-button color="secondary" class="show-on-mobile" matTooltip="{{ 'general.search' | translate}}"
        matTooltipPosition="below">
        <fa-icon [icon]="GICON_SEARCH"></fa-icon>
      </button>
    </div>

    <!-- Show a button that tells the user to insatll this app to his computer -->
    <div fxFlexAlign="center">
      <service-worker-install-button></service-worker-install-button>
    </div>

    <div fxFlexAlign="center">

      <button mat-icon-button color="secondary" matTooltip="{{ 'general.chat' | translate}}" matTooltipPosition="below">
        <fa-icon [icon]="GICON_CHAT"></fa-icon>
      </button>
    </div>
    <div fxFlexAlign="center">
      <main-header-notifications></main-header-notifications>
    </div>
  </div>
</div>
