
.avatar-container{
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-gray1);
  background-image: url(../../../../assets/img/Misc/galen-asset_empty-image.svg);
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  &.bordered{
    border: 2px solid var(--color-white);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);
  }
  &.bordered-big{
    box-shadow: 3px 0px 0px 11px rgba(255, 255, 255, 0.90), -4px 5px 9px 0px rgba(51, 51, 51, 0.25), 6px -7px 6px 4px rgba(51, 51, 51, 0.15);
    margin: 25px;
  }

  &.round{
    border-radius: 50%;
  }

  .avatar-content-text {
    font-size: 15px;
    color: var(--color-white);
    text-transform: uppercase;
  }

  &.no-background-image{
    background-image: none;
    background-color: var(--color-primary-blue);
  }

  &.gray-bg {
    background-color: var(--color-white-darker);

    .avatar-content-text {
      color: var(--color-primary-font);
    }
  }

  &.white-bg {
    background-color: var(--color-white);

    .avatar-content-text {
      color: var(--color-primary-font);
    }
  }

  &.no-background-color{
    background-color: transparent;
  }

  &.bg-contain{
    background-size: contain;
  }

}
