<div class="avatar-container" [ngClass]="{'round': round,
            'bordered': border,
            'bordered-big': bigBorder,
            'no-background-image': name!='',
            'no-background-color': noBgColor,
            'gray-bg': grayBg,
            'white-bg': whiteBg,
            'bg-contain': !backgroundCover}"
  [style.background-image]="imageUrl !== '' ? ('url(\'' + imageUrl + '\')') : ''"
  [style.width]="(width ? width + 'px': 'auto')" [style.height]="(height ? height + 'px': 'auto')"
  [style.border-width]="(border ? border + 'px': '0px')"
  [style.cursor]="openOnClick ? 'pointer' : ''"
  (click)="imageUrl !== '' ? openDialog() : true">
  <img class="avatar-content-img" *ngIf="!width && !height && imageUrl" [src]="imageUrl" />
  <div class="avatar-content-text" *ngIf="name!='' && !imageUrl">{{nameInitials}}</div>
</div>
