<main>
  <main-navigation></main-navigation>
  <router-outlet></router-outlet>
  <!-- HERE WILL APPEAR THE COMPONENT CONTENT LOADED FROM THE ROUTER OUTLET.
       This area has a specific CSS (See viewRef#1 on main.component.scss. This selector applies to the element that appears here (that is the component main element, like <app-patients></app-patients>)) -->
  <main-header></main-header>
</main>
