/*
********************************************************************
MAIN SYSTEM LAYOUT
Specific layouts for every component are located on their respective scss

When you add a new page, a required layout is the following:

<header>
  <h1>Settings</h1>
</header>
<section>
  <router-outlet>This is optional whether this page will handle child routes or not</router-outlet>
</section>


********************************************************************
*/

@import "../../scss/variables-media-query.scss";

body {
  main {
    background-color: var(--content-bg-color);
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    nav {
      width: var(--nav-width);
      height: 100%;
      display: block;
    }

    // viewRef#1 -- See main.component.html code and find viewRef#1
    > :nth-child(3) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;

      //The main header, the one who appears at the very top of the page
      > header {
        padding: 15px 20px;

        //border bottom with gradient
        border: 0px solid transparent;
        border-bottom: 1px solid transparent;
        border-image-source: linear-gradient(
          to right,
          #dcdcdc 50%,
          rgb(255 255 255 / 0%) 80%
        );
        border-image-slice: 5;

        h1 {
          padding: 0px;
          margin: 0px !important;
          font-size: 24px !important;
          color: var(--main-header-text-color);
          line-height: 1.8em;

          fa-icon {
            margin-right: 7px;
            font-size: 0.9em;
          }
        }
      }

      > div {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }

      //***********************************
      //HEADER PAGES - The modules headers with title, search bar, add button, etc
      //               These headers appears on sub pages other than main pages, such as settings pages
      //***********************************
      .header-pages {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: var(--content-bg-color);
        border-bottom: 1px solid transparent;
        padding-bottom: 15px;

        &.border-bottom {
          border-bottom: 1px solid var(--color-primary-borders);
        }

        > * {
          //Direct children (add separation)
          margin: 0px;
          margin-right: 10px;

          > * {
            //Remove margin from any direct children of main children
            margin: 0px !important;
          }
        }

        //Keep it fixed at the top. Add a padding-top of almost 100px to the .content div so that the header doesn't overlap it;
        &.fixed {
          position: fixed;
          z-index: var(--zindex-nav);
          width: 100%;
        }

        .grow {
          flex-grow: 1;
        }

        .pull-right {
          align-items: flex-end;
        }

        //remove spacing from inputs
        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }
  }
}

//Remember that these styles affect both big, med and small devices including iphone X with the notch
@media (max-width: $mobile-mode-max-width) {
  body {
    main {
      display: flex;
      flex-direction: column-reverse;

      nav {
        position: fixed;
        z-index: var(--zindex-nav);
        bottom: 0px;
        left: 0px;
        height: var(--nav-mobile-height) !important;
        width: 100%;
      }

      // viewRef#1 -- See main.component.html code and find viewRef#1
      > :nth-child(3) {
        flex-direction: column;
        flex-grow: 1;

        //For mobile devices, the main header is fixed at the top, so that it works with ios safari in full screen. I should add a padding-top so that the content
        //header be visible.
        padding-top: var(--main-header-height);
        padding-bottom: var(--nav-mobile-height);

        > header {
          padding-bottom: 5px;
          padding-top: 0px;
          padding-left: 15px;
          padding-right: 11px;
          background-color: var(--color-primary-blue-medium);
          color: var(--color-white);
          z-index: var(--zindex-header);
          position: fixed;
          width: 100%;

          //remove border bottom with gradient
          border: 0px solid transparent;
          border-image-source: none;
          border-image-slice: unset;

          h1 {
            font-size: 25px !important;
            color: var(--color-white);
          }
        }

        > div {
          padding-top: 50px; //give space to the fixed header
        }
      }

      .header-pages {
        h1,
        h2,
        h3 {
          font-size: 23px;
        }

        .mat-form-field .mat-button {
          padding: 0px 6px;
          min-width: 44px;
        }
        .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 2px;
          width: auto;
        }
      }
    }
  }
}
