@import '../../scss/variables-media-query.scss';

body {
  .customer-setup-component {
    > div {
      width: 100%;
      height: 100%;
      > div:first-child {
        padding-left: 10%;
      }
      > div {
        padding-top: 7%;
        height: 100%;

        h1 {
          margin: 0px;
          span:last-child {
            font-weight: 900;
            color: var(--color-primary-blue);
          }
        }

        .auth-logo {
          position: fixed;
        }

        .content-area {
          height: 100%;
          position: relative;
        }

        .logo-img{
          background-size: contain;
          background-position: left top;
          position: relative;
          width: 100%;
          max-width: 690px;

          #galen-company-name text{
            font-size: 29px;
            font-family: "Lato";
            font-weight: 300;
            max-width: 100px;
            overflow: hidden;
          }
        }

        .actions{
          padding-bottom: 30px;
        }

      }
    }
  }

  @media (max-width: $screen-size-extra-large) {
    .customer-setup-component {
      > div {
        > div:first-child {
          padding-left: 5%;
        }
      }
    }
  }

  @media (max-width: $screen-size-large) {
    .customer-setup-component {
      > div {
        > div:first-child {
          padding-left: 40px;
        }
        > div {
          height: auto;
          padding: 25px 10px 25px 25px;

          .auth-logo {
            position: static;
            margin-bottom: 0px;
          }

        }
      }
    }
  }


  //small height devices (Iphone in landscape)
  @media (min-width: $screen-size-small) and (max-height: 400px) {
    .customer-setup-component {
      padding: 5px;
    }
  }
}
