<section class="main-container customer-setup-component">

  <div fxLayout="row" fxLayout.lt-lg="column" fxFlex.md="83" fxFlex.lg="78" fxFlex.xl="75">
    <div class="logo-area" fxFlex.gt-md="28">
      <div class="auth-logo" title="{{'general.logoTitle' | translate}}"></div>
    </div>
    <div class="content-area" fxFlex.gt-md="60">

      <!-- ================================================== -->
      <!-- SETUP STEP -->
      <div *ngIf="step === ''">
        <div class="animate__animated  animate__fadeInRight animate__faster">
          <h1><span [innerHTML]="'customerSetup.title' | translate"></span>&nbsp;<span>{{userFirstName}}</span>...</h1>
          <h3>{{ 'customerSetup.subTitle' | translate}}</h3>

          <form [formGroup]="setupCustomerForm" (ngSubmit)="onSubmit()">

            <h3>{{'customerSetup.businesType' | translate}}</h3>

            <mat-button-toggle-group formControlName="businessIsDental">
              <mat-button-toggle [value]="true">
                <fa-icon [icon]="GICON_DENTAL"></fa-icon> {{'customerSetup.businessDental' | translate}}
              </mat-button-toggle>
              <mat-button-toggle [value]="false">
                <fa-icon [icon]="GICON_MEDICAL"></fa-icon> {{'customerSetup.businessMedical' | translate}}
              </mat-button-toggle>
            </mat-button-toggle-group>

            <div class="spacing"></div>

            <h3>{{'customerSetup.businessInformation' | translate}}</h3>


            <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px">
              <mat-form-field fxFlex.gt-sm="calc(50%-10px)">
                <mat-label>{{'customer.clinicName' | translate}} <span class="required">*</span></mat-label>
                <input type="text" formControlName="clinicName" matInput
                  placeholder="{{'customer.clinicName' | translate}}" autofocus>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm="calc(30%-10px)">
                <mat-label>{{'user.whatIsYourSpecialty' | translate}} <span class="required">*</span></mat-label>
                <input type="text" formControlName="userSpecialty" matInput
                  placeholder="{{'user.whatIsYourSpecialty' | translate}}" autofocus>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm="calc(20%-10px)">
                <mat-label>{{'general.phone' | translate}}</mat-label>
                <input type="text" formControlName="phone" matInput placeholder="{{'general.phone' | translate}}">
              </mat-form-field>
            </div>


            <!-- ADDRESS -->
            <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px">
              <mat-form-field fxFlex.gt-sm="calc(30%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{'general.address' | translate}}</mat-label>
                <input type="text" formControlName="address" matInput placeholder="{{'general.address' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex.gt-sm="calc(20%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{'general.city' | translate}}</mat-label>
                <input type="text" formControlName="city" matInput placeholder="{{'general.city' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex.gt-sm="calc(20%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{'general.state' | translate}}</mat-label>
                <input type="text" formControlName="state" matInput placeholder="{{'general.state' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex.gt-sm="calc(30%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{ 'general.country' | translate}} <span class="required">*</span></mat-label>
                <mat-select formControlName="countryCode">
                  <mat-option *ngFor="let country of countriesList" [value]="country.countryCode">
                    {{country.countryName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <note-tip message="{{ 'customerSetup.fieldsInfo' | translate }}"></note-tip>


            <div class="spacing"></div>

            <h3>{{'customerSetup.regionAndDate' | translate}}</h3>

            <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px">


              <!-- LANGUAGE -->
              <mat-form-field fxFlex.gt-sm="calc(20%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{ 'general.systemLanguage' | translate}} <span class="required">*</span></mat-label>
                <mat-select formControlName="language">
                  <mat-option *ngFor="let language of languagesList" [value]="language.language">
                    {{language.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <!-- CURRENCY -->
              <mat-form-field fxFlex.gt-sm="calc(30%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{ 'general.currency' | translate}} <span class="required">*</span></mat-label>
                <mat-select formControlName="currency">
                  <mat-option *ngFor="let currency of currencyList" [value]="currency.code">
                    {{currency.code}} - {{currency.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <!-- DATE FORMAT -->
              <mat-form-field fxFlex.gt-sm="calc(25%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{ 'general.dateFormat' | translate}} <span class="required">*</span></mat-label>
                <mat-select formControlName="dateFormatId">
                  <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat.id">
                    {{dateFormat.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- TIME FORMAT -->
              <mat-form-field fxFlex.gt-sm="calc(25%-10px)" fxFlex.lt-md="calc(100%-10px)">
                <mat-label>{{ 'general.timeFormat' | translate}} <span class="required">*</span></mat-label>
                <mat-select formControlName="timeFormatId">
                  <mat-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.id">
                    {{timeFormat.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="spacing"></div>

            <inline-notification [message]="message" [type]="messageType"></inline-notification>

            <div class="actions" fxLayout="row" fxLayout.lt-sm="column">
              <button type="submit" mat-flat-button color="primary" [loading]="submitting" offline-disable>
                {{'general.next' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- ================================================== -->
      <!-- SETUP STEP -->
      <div *ngIf="step === 'add-your-logo'" class="animate__animated  animate__fadeInRight animate__faster animate__delay-1s">
        <h1>{{ 'customerSetup.uploadLogoTitle' | translate}}</h1>
        <h3>{{ 'customerSetup.uploadLogoSubTitle' | translate}}</h3>


        <div class="logo-img">
              <!-- SVG: galen-canvas.ai > customer-setup  --- Remove <title>galen-canvas</title> from generated SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 740 347"><defs><style>.cls-1{fill:#3f3d56;}.cls-2{fill:#e6e6e6;}.cls-3{fill:#fff;}.cls-4{fill:#ffb8b8;}.cls-5{fill:#5fa8ff;}.cls-6{fill:#2f2e41;}.cls-7{fill:#2f72c2;}.cls-8{fill:#ccc;}.cls-9{fill:none;}.cls-10{font-size:37.24px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs><g id="Layer_top" data-name="Layer top"><path class="cls-1" d="M730.6,55H348.44a9.7,9.7,0,0,0-9.69,9.69V310.13a9.7,9.7,0,0,0,9.69,9.69H730.6a9.71,9.71,0,0,0,9.69-9.69V64.69A9.71,9.71,0,0,0,730.6,55Zm7.53,255.13a7.54,7.54,0,0,1-7.53,7.54H348.44a7.55,7.55,0,0,1-7.54-7.54V64.69a7.55,7.55,0,0,1,7.54-7.54H730.6a7.54,7.54,0,0,1,7.53,7.54Z"/><path class="cls-2" d="M330,151c-.58,3-1.27,6-2.08,9-.09.34-.19.68-.28,1H316.39a3.6,3.6,0,0,0-3.61,3.61v32c-.34.64-.69,1.27-1,1.9q-2.69,4.86-5.54,9.62a366.12,366.12,0,0,1-125.6,125.54l3-6.89-3.36-.23c-24.36-1.67-48.79-3.51-72.57-9C82.85,311.91,58.51,302,39,285.51s-33.8-40-35.79-65.45a74.71,74.71,0,0,1,2.62-26c4.57-16.25,14.56-30.87,29-39.52,22.64-13.58,52.17-10.81,76,.49s43.28,30,62.24,48.36A240.23,240.23,0,0,0,95.3,122.22c-10.6-6.79-21.84-12.83-30.85-21.62S48.8,79.51,50.39,67c1.81-14.15,13.4-24.9,25-33.18,4.64-3.31,9.43-6.45,14.37-9.33,13.93-8.17,29-14.33,44.92-16.61,21.56-3.1,44.85,1.6,61.38,15.79,18.62,16,26.26,41.76,25.53,66.42,11.47-16.68,29.17-29.45,49.15-30,20.75-.56,40.47,12.55,50.86,30.52S333.86,130.63,330,151Z"/><path class="cls-3" d="M198.72,220.28c12.15-1.07,23.38-2.32,35.15-5.65,11.41-3.23,22.4-8.64,30.52-17.46,8.74-9.5,13.46-21.83,16.79-34.1,1.85-6.85,3.38-13.79,4.81-20.73q2.36-11.29,4.17-22.69Q293.77,97,295.33,74c.12-1.86.24-3.71.34-5.57.06-1.15-1.72-1.15-1.78,0q-1.27,22.62-4.58,45.08c-2.18,14.7-5,29.34-8.49,43.78-3,12.24-6.87,24.66-14.54,34.85-7.2,9.55-17.59,15.79-28.81,19.52-11.42,3.8-23.46,5.31-35.39,6.44-1.46.14-1.9.27-3.36.4-1.13.1-1.14,1.88,0,1.78Z"/><path class="cls-3" d="M6.87,195.39a193.33,193.33,0,0,1,45.2,8,195.56,195.56,0,0,1,42.1,18.32,191.33,191.33,0,0,1,35.45,26.69,195.23,195.23,0,0,1,27.69,33,193.53,193.53,0,0,1,19.82,38.42q.94,2.47,1.81,5c.38,1.08,2.1.62,1.72-.47A195.44,195.44,0,0,0,161.73,285a197.5,197.5,0,0,0-27.16-34.22,192.79,192.79,0,0,0-34.68-27.68A196.78,196.78,0,0,0,12.49,194c-1.87-.16-3.75-.29-5.62-.39-1.15-.06-1.15,1.72,0,1.78Z"/><path class="cls-3" d="M90.25,26.61a105.52,105.52,0,0,1,27.58,13.47A130.05,130.05,0,0,1,141.37,61a173.53,173.53,0,0,1,19.49,26.86,228.4,228.4,0,0,1,15.5,31.51,286.93,286.93,0,0,1,11.29,34.28,320.59,320.59,0,0,1,7.21,35.81,319.21,319.21,0,0,1,3.11,36A284.44,284.44,0,0,1,197,260a219.25,219.25,0,0,1-5.19,31.81,149.81,149.81,0,0,1-9.35,27.5q-1.4,3-2.95,5.94c-.54,1,1,1.91,1.54.9a137.38,137.38,0,0,0,10.53-26.51,204.52,204.52,0,0,0,6.28-31.18A270.33,270.33,0,0,0,199.88,234a315.62,315.62,0,0,0-2.15-36.23,326.51,326.51,0,0,0-6.29-36.2,294.71,294.71,0,0,0-10.5-35.25,245.2,245.2,0,0,0-14.61-32.44A188.77,188.77,0,0,0,147.6,65.58a140.19,140.19,0,0,0-22.88-22.67A110.61,110.61,0,0,0,97.88,27.43c-2.35-.94-4.74-1.78-7.16-2.54C89.63,24.54,89.16,26.26,90.25,26.61Z"/><ellipse class="cls-2" cx="196.03" cy="331.66" rx="127.57" ry="5.15"/><path class="cls-4" d="M336.18,103.88a8.08,8.08,0,0,0-.18,1.2l-31.18,18-7.58-4.37-8.08,10.58,16.22,11.56L341,112.77a7.63,7.63,0,1,0-4.77-8.89Z"/><path class="cls-5" d="M265.16,114.92l24.55,17.5,11-13.77L276.82,99.5A9.67,9.67,0,0,0,263.23,101l-.34.44h0a9.67,9.67,0,0,0,2.27,13.49Z"/><polygon class="cls-4" points="214.47 314.61 223.08 316.86 235.88 284.73 223.17 281.4 214.47 314.61"/><path class="cls-6" d="M237.59,329.21l-27.06-7.09h0l2.74-10.46h0l16.6,4.35a10.81,10.81,0,0,1,7.72,13.2Z"/><polygon class="cls-4" points="291 320.74 299.76 319.17 297.9 284.63 284.97 286.94 291 320.74"/><path class="cls-6" d="M318.11,324.29l-27.53,4.92h0l-1.9-10.64h0l16.89-3a10.8,10.8,0,0,1,12.54,8.74Z"/><path class="cls-6" d="M273.75,66.73c2.16.53,3.92,2.73,5,5.28a36.71,36.71,0,0,1,2,8.28c.83,5.27,1.63,11-.09,15.85-2,5.72-7.36,8.72-12,7.31s-8.34-6.69-9.6-12.77a30.92,30.92,0,0,1,2.12-18.21c1.32-3,3.14-5.78,5.56-7.13a5.47,5.47,0,0,1,7.3,1.52"/><path class="cls-7" d="M286,162.11l16.68,149.4-13.78,5.23L263.46,216.56l-35.37,91.6L213,309s20.69-142.53,36-145.77Z"/><circle class="cls-4" cx="271.96" cy="67.97" r="17.83" transform="translate(161.3 325.52) rotate(-80.78)"/><path class="cls-5" d="M279.61,93.28l-19.27-2.51s-12.57,15.07-11.73,41-2.09,33.93-2.09,33.93l40.17.73C280.88,158.48,305.18,112.62,279.61,93.28Z"/><path class="cls-4" d="M290,170.1a8.09,8.09,0,0,0-1.2.1L264.11,144l2.51-8.38-12.14-5.44-7.54,18.43,35.46,28.21a7.62,7.62,0,1,0,8.5-6.62,7.42,7.42,0,0,0-.94-.06Z"/><path class="cls-5" d="M263,103.49,251.54,131.4l15.92,7.54,13.18-27.62a9.68,9.68,0,0,0-4.56-12.9l-.5-.22h0A9.66,9.66,0,0,0,263,103.49Z"/><path class="cls-6" d="M267.29,84.18c2.8-1.61,3.09-5.5,2.71-8.7s-1-6.78.87-9.4c2.25-3.12,6.76-3.18,10.61-3.29S290,61.57,291,57.85c.66-2.46-.75-5.1-2.77-6.64a19.5,19.5,0,0,0-7-2.87c-5.51-1.45-11.19-2.91-16.82-2.11a21.44,21.44,0,0,0-18.27,23.94c.91,7.15,2.24,10.27,1.37,13.42-1.62,5.88-8.59,9.65-8.73,15.74-.11,4.76,4.1,8.44,8.21,10.86a27.48,27.48,0,0,0,10.52,4,13.44,13.44,0,0,0,10.59-3c3.6-3.28,4.49-8.76,3.46-13.53s-3.68-9-6.31-13.1"/><path class="cls-8" d="M710.69,241.24H368.36a7,7,0,0,1,0-14H710.69a7,7,0,1,1,0,14Z"/><path class="cls-8" d="M710.92,207.33H368.59a7,7,0,0,1,0-14H710.92a7,7,0,1,1,0,14Z"/><path class="cls-8" d="M533.3,275.69H368.36a7,7,0,0,1,0-14H533.3a7,7,0,1,1,0,14Z"/>

                <!-- Start custom SVG CODE. To update the SVG, backup this code and then update generated code from illustrator -->
                <image *ngIf="imageCode !==''"  id="galen-company-name-img" class="cls-9" x="362" y="74" width="351" height="95" preserveAspectRatio="xMinYMin meet" [attr.xlink:href]="imageCode"></image>
                <g *ngIf="imageCode ===''" id="galen-company-name">
                  <text class="cls-10" transform="translate(361.67 124.79)">{{mainClinicName}}</text>
                </g>
                <!-- End custom SVG CODE -->

              </g></svg>

        </div>

        <hr>

        <inline-notification [message]="message" [type]="messageType"></inline-notification>

        <div fxLayout="row" fxLayoutGap="10px">
          <file-upload firebase-storage-path="clinic-logo"
          [firestore-path]="firebaseStorageLocationPath"
          firestore-property-name="logo"
          [record-id]="mainClinicId"
          (onFileUploaded)="onFileUploaded($event)"
          max-file-size-mb="5"
          [allowed-files-count]="1"></file-upload>

          <button type="button" mat-flat-button color="primary" [loading]="submitting" (click)="finish()">
            {{'general.finish' | translate }}
          </button>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
<!-- <auth-right-people type="customer-setup" small-background="true"></auth-right-people> -->
<auth-right-people type="{{step === '' ? 'customer-setup' : ''}}" small-background="true"></auth-right-people>
