.register-component{

  h1{
    margin:0px;
    span{
      font-weight: 900;
      color: var(--color-primary-blue);
    }
  }

  .mat-form-field {
    width: 100%;
  }

  .password-div{
    position: relative;

    .password-metter {
      position: absolute;
      top: 42px;
      left: 0px;
    }
  }

}
