<section class="main-container register-component" fxLayout="row" fxLayoutAlign="left center"
  fxLayoutAlign.lt-sm="left top">

  <div class="fields" fxLayout="column" fxFlex.gt-md="42" fxFlex.gt-sm="55" fxFlex.xl="38">
    <div class="auth-logo" title="{{'general.logoTitle' | translate}}"></div>
    <div>
      <h1 [innerHTML]="'register.getStartedForFree' | translate"></h1>
      <h3>{{ 'register.getStartedForFreeSubHeader' | translate}}</h3>


      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
          <mat-label>{{'general.email' | translate }}</mat-label>
          <input type="email" formControlName="email" matInput placeholder="{{'general.exampleEmail' | translate}}">
          <mat-error *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.hasError('required')">
            {{'general.emailRequired' | translate}}</mat-error>
          <mat-error
            *ngIf="registerForm.controls.email.dirty && !registerForm.controls.email.hasError('required') && registerForm.controls.email.invalid">
            {{'general.emailInvalid' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>{{'user.fullName' | translate }}</mat-label>
          <input type="text" formControlName="fullName" matInput placeholder="{{'user.fullName' | translate}}">
          <mat-error
            *ngIf="registerForm.controls.fullName.dirty && registerForm.controls.fullName.hasError('required')">
            {{'user.fullNameRequired' | translate}}</mat-error>
        </mat-form-field>

        <div class="full-width" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div class="password-div" fxFlex="calc(50%-10px)">
            <mat-form-field>
              <mat-label>{{'general.password' | translate }}</mat-label>
              <input type="password" formControlName="password" matInput (focus)="passIsFocus=true" (blur)="passIsFocus=false">
              <mat-error
                *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.hasError('required') && !registerForm.controls.password.hasError('minlength')">
                {{'general.passwordRequired' | translate}}</mat-error>
              <mat-error
                *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.hasError('invalid')">
                {{'general.passwordSecurityNotMet' | translate}}</mat-error>
            </mat-form-field>
            <password-security-metter-bar [passwordString]="registerForm.controls.password.value" [inputFocused]="passIsFocus"></password-security-metter-bar>
          </div>
          <div fxFlex="calc(50%-10px)">
            <mat-form-field>
              <mat-label>{{'general.confirmPassword' | translate }}</mat-label>
              <input type="password" formControlName="confirmPassword" matInput>
              <mat-error
                *ngIf="registerForm.controls.confirmPassword.dirty && registerForm.controls.confirmPassword.hasError('mustMatch')">
                {{'general.passwordDontMatch' | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <mat-checkbox formControlName="acceptTerms" color="primary"><span
              [innerHtml]="'register.acceptTerms' | translate"></span></mat-checkbox>
          <mat-error *ngIf="clickedSubmit && registerForm.controls.acceptTerms.errors">
            {{'register.acceptTermsWarning' | translate}}</mat-error>
        </div>

        <div class="separator short"></div>

        <div id="registerRecaptchaContainer"></div>


        <inline-notification [message]="registerMessage" [type]="registerMessageType"></inline-notification>

        <div fxLayout="row" fxLayout.lt-sm="column">
          <button type="submit" mat-flat-button color="primary" [loading]="sendingValidation" class="full-width" offline-disable>
            {{'register.createAccount' | translate }}
          </button>
          <button type="button" mat-button class="full-width"
            [routerLink]="['/' + PATH_LOGIN]">{{'general.cancel' | translate }}</button>
        </div>
      </form>



      <!-- RECAPTCHA REFERENCE -->
      <div class="recaptcha-reference">
        <p [innerHTML]="'general.googleRecaptchaReference' | translate "></p>
      </div>

    </div>
  </div>


</section>

<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
<auth-right-people type="register" small="true"></auth-right-people>
