p{
  display: none;
  border-width: 1px;
  border-style: solid;
  padding: 20px 15px;
  border-left-width: 10px;
  background-color: var(--color-notification-info);
  border-color: var(--color-notification-info-border);
  color: var(--color-notification-info-font);

  &.to-show{
    display: block;
    margin-top:-55px;
    opacity: 0;
    transition: all ease-in 0.2s;
  }
  &.visible{
    display: block;
    margin-top:0px;
    opacity: 1;
    transition: all ease-in 0.2s;
  }
  &.to-hide{
    display: block;
    margin-top:-55px;
    opacity: 0;
    transition: all ease-out 0.2s;
  }
  &.hidden{
    display: none;
    transition: all ease-out 0.2s;
  }

  &.success{
    background-color: var(--color-notification-success);
    border-color: var(--color-notification-success-border);
    color: var(--color-notification-success-font);

  }

  &.warning{
    background-color: var(--color-notification-warning);
    border-color: var(--color-notification-warning-border);
    color: var(--color-notification-warning-font);

  }

  &.error{
    background-color: var(--color-notification-error);
    border-color: var(--color-notification-error-border);
    color: var(--color-notification-error-font);

  }

  &.info{
    background-color: var(--color-notification-info);
    border-color: var(--color-notification-info-border);
    color: var(--color-notification-info-font);

  }

}


@keyframes slideDown {
	0% {
		transform: margin-top(-30px);
		transform: opacity(0);
	}

	100% {
		transform: opacity(1);
		transform: margin-top(0px);
	}
}
