<button mat-button class="clinic-selector" matTooltip="{{ 'mainHeader.clinicSelectorTooltip' | translate}}"
  matTooltipPosition="below" [matMenuTriggerFor]="clinicsMenu" [fxHide]="isLoading">
  <span class="clinic-selector-content">
    <span class="clinic-title">{{clinicInfo.clinicName}}</span>
    <span class="icon-area">
      <fa-icon [icon]="GICON_FA_ANGLEDOWN"></fa-icon>
    </span>
    <span class="avatar-area">
      <avatar [name]="clinicInfo.clinicName" [imageObject]="clinicInfo.logo ? clinicInfo.logo : null"
        [width]="25" [height]="25" [whiteBg]="clinicInfo.logo" [backgroundCover]="false"></avatar>
    </span>
  </span>
</button>


<!--menu -->

<mat-menu class="header-submenus clinic-selector-menu" #clinicsMenu="matMenu" xPosition="before">

  <div class="mat-menu-content"> <!-- (click)="$event.stopPropagation()" -->
    <div class="arrow-up"></div>
    <div class="header-submenu-header">
      <span class="title">
        <fa-icon [icon]="GICON_FA_clinic"></fa-icon> {{ 'mainHeader.clinicSelectorMenuTitle' | translate}}
      </span>
    </div>
    <div class="header-submenu-content">

      <!-- Clinic detail -->

      <div class="menu-item selected-clinic-detail">
        <div class="clinic-logo">
          <avatar [imageObject]="clinicInfo.logo ? clinicInfo.logo : null" [width]="220" [height]="220"
            [backgroundCover]="false" [round]="false"  [whiteBg]="true"></avatar>

            <div class="update-logo">
              <file-upload firebase-storage-path="clinic-logo"
              [firestore-path]="firebaseStorageLocationPath"
              firestore-property-name="logo"
              [record-id]="clinicInfo.clinicId"
              [allowed-files-count]="1"
              button-text="general.change"
              [icon-button-only]="true"
              max-file-size-mb="5"></file-upload>
            </div>

          </div>
        <h3>{{clinicInfo.clinicName}}</h3>

      </div>

      <mat-divider></mat-divider>


      <!-- Clinic list -->

      <button mat-menu-item *ngFor="let clinic of clinics" (click)="setSelectedClinic(clinic.clinicId, clinic.clinicName)">
        <div fxLayout>
          <div fxFlexAlign="center"><avatar [src]="clinic.logo ? clinic.logo.publicUrlOriginalFilePath : ''"
            [width]="20" [height]="20" [backgroundCover]="false"></avatar></div>
          <span fxFlexAlign="center">{{clinic.clinicName}}</span>
        </div>
      </button>

      <!-- Manage -->
      <button mat-menu-item [routerLink]="'/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_CLINICS">
        <fa-icon [icon]="GICON_FA_externalLink"></fa-icon>
        <span>{{ 'mainHeader.manage' | translate}}</span>
      </button>
    </div>
  </div>

</mat-menu>
