@import '../../../scss/variables-media-query.scss';

body {
  // The button --------------------
  .clinic-selector {
    padding: 6px 7px;
    min-width: auto;

    .clinic-selector-content {
      display: flex;

      .avatar-area {
        margin-left: 5px;
        margin-top: 4px;
      }

      .clinic-title {
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
      }
    }
  }

  // The menu --------------------
  .clinic-selector-menu {
    max-width: 350px;

    .mat-menu-content {
      .header-submenu-content {
        .selected-clinic-detail {
          text-align: center;
          padding: 1px 20px;

          .clinic-logo {
            margin: 20px;
            position:relative;

            .update-logo{
              display: none;
              position: absolute;
              top: 0;
              right: 0;
            }

            &:hover{
              .update-logo {
                display: block;
              }
            }

            .avatar-container {
              background-blend-mode: multiply;
            }
          }
        }
      }
    }
  }

  @media (max-width: $screen-size-large) {
    .clinic-selector {
      .clinic-selector-content {
        max-width: 150px;
      }
    }
  }

  @media (max-width: $screen-size-small) {
    // The button --------------------
    .clinic-selector {
      padding: 4px 2px;
      .clinic-title {
        display: none;
      }
    }
  }
}
