.auth-actions{
  h1, h2, h3{
    margin:0;
  }

  // .fields {
  //   margin-top: -8%;
  // }

  .password-div{
    position: relative;

    .password-metter {
      position: absolute;
      top: 42px;
    }
  }

}
