<section class="main-container auth-actions" fxLayout="row" fxLayoutAlign="left center">

  <div class="fields" fxLayout="column" fxFlex.gt-md="42" fxFlex.gt-sm="55" fxFlex.xl="38">
    <div class="auth-logo" title="{{'general.logoTitle' | translate}}" [ngClass]="welcomeAnimation"></div>

    <!-- ====================================================== -->
    <!-- SEND RESET LINK -->

    <div *ngIf="!mode">

      <h1>{{'login.resetPasswordTitle' | translate }}</h1>
      <p>{{'login.resetPasswordText' | translate }}</p>


      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>{{'general.email' | translate }}</mat-label>
          <input type="email" formControlName="email" matInput placeholder="{{'general.exampleEmail' | translate}}">
          <mat-error
            *ngIf="resetPasswordForm.controls.email.dirty && resetPasswordForm.controls.email.hasError('required')">
            {{'general.emailRequired' | translate}}</mat-error>
          <mat-error
            *ngIf="resetPasswordForm.controls.email.dirty && !resetPasswordForm.controls.email.hasError('required') && resetPasswordForm.controls.email.invalid">
            {{'general.emailInvalid' | translate}}</mat-error>
        </mat-form-field>

        <div id="resetPasswordRecaptchaContainer"></div>

        <inline-notification [message]="message" [type]="messageType"></inline-notification>

        <div fxLayout="row" fxLayout.lt-sm="column">
          <button type="submit" mat-flat-button color="primary" [loading]="sendingReset" class="full-width"
            offline-disable>
            {{'general.submit' | translate }}
          </button>
          <button type="button" mat-button class="full-width"
            [routerLink]="['/' + PATH_LOGIN]">{{'login.resetPasswordCancel' | translate }}</button>
        </div>

      </form>
    </div>

    <!-- ====================================================== -->
    <!-- CHANGE PASSWORD -->

    <div *ngIf="mode=='resetPassword'">
      <h1>{{'login.resetPasswordSetPasswordTitle' | translate }}</h1>
      <p>{{'login.resetPasswordSetPasswordText' | translate }}</p>

      <form [formGroup]="resetPasswordCompleteForm" (ngSubmit)="onSubmitNewPassword()">
        <div class="password-div full-width">
          <mat-form-field class="full-width">
            <mat-label>{{'general.password' | translate }}</mat-label>
            <input type="password" formControlName="password" matInput (focus)="passIsFocus=true"
              (blur)="passIsFocus=false">
            <mat-error
              *ngIf="resetPasswordCompleteForm.controls.password.dirty && resetPasswordCompleteForm.controls.password.hasError('required')">
              {{'general.passwordRequired' | translate}}</mat-error>
            <mat-error
              *ngIf="resetPasswordCompleteForm.controls.password.dirty && resetPasswordCompleteForm.controls.password.hasError('invalid')">
              {{'general.passwordSecurityNotMet' | translate}}</mat-error>
          </mat-form-field>
          <password-security-metter-bar [passwordString]="resetPasswordCompleteForm.controls.password.value"
            [inputFocused]="passIsFocus"></password-security-metter-bar>
        </div>
        <div class="full-width">
          <mat-form-field class="full-width">
            <mat-label>{{'general.confirmPassword' | translate }}</mat-label>
            <input type="password" formControlName="confirmPassword" matInput>
            <mat-error
              *ngIf="resetPasswordCompleteForm.controls.confirmPassword.dirty && resetPasswordCompleteForm.controls.confirmPassword.hasError('mustMatch')">
              {{'general.passwordDontMatch' | translate}}</mat-error>
          </mat-form-field>
        </div>

        <inline-notification [message]="message" [type]="messageType"></inline-notification>

        <div fxLayout="row" fxLayout.lt-sm="column">
          <button type="submit" mat-flat-button color="primary" [loading]="sendingReset" class="full-width"
            offline-disable>
            {{'general.submit' | translate }}
          </button>
          <button type="button" mat-button class="full-width"
            [routerLink]="['/' + PATH_LOGIN]">{{'general.cancel' | translate }}</button>
        </div>

      </form>

    </div>

    <!-- ====================================================== -->
    <!-- Verify email -->

    <div *ngIf="mode=='verifyEmail'">

      <div *ngIf="verifying">
        <div fxLayout="row" fxLayoutAlign="top center" fxLayoutGap="20px">
          <div>
            <mat-spinner diameter="40"></mat-spinner>
          </div>
          <div>
            <h2>{{'register.verifyingEmailHeading' | translate }}</h2>
            <p>{{'register.verifyingEmailMessage' | translate }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!verifying">
        <h2 *ngIf="!message">{{'register.verifyingEmailSuccess' | translate }}</h2>
        <p *ngIf="!message">{{'register.verifyingEmailSuccessSubTitle' | translate }}</p>

        <inline-notification [message]="message" [type]="messageType"></inline-notification>

        <div class="spacing"></div>

        <button type="button" mat-flat-button color="primary" [routerLink]="['/' + PATH_LOGIN]" *ngIf="!message">
          {{'login' | translate }}
        </button>

        <button type="button" mat-flat-button color="primary" [routerLink]="['/' + PATH_LOGIN]" *ngIf="message">
          {{'general.dismiss' | translate }}
        </button>
      </div>
    </div>

    <!-- ====================================================== -->
    <!-- Other Action -->

    <div *ngIf="mode && mode!='verifyEmail' && mode!='resetPassword'">

      <div *ngIf="verifying">
        <div fxLayout="row" fxLayoutAlign="top center" fxLayoutGap="20px">
          <div>
            <mat-spinner diameter="40"></mat-spinner>
          </div>
          <div>
            <h2>{{'general.pleaseWait' | translate }}</h2>
            <p>{{'general.validatingYourRequestMessage' | translate }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!verifying">
        <inline-notification [message]="message" [type]="messageType"></inline-notification>
        <div class="spacing"></div>

        <!-- <a type="button" mat-flat-button color="primary" href="/"> -->
          <button type="button" mat-flat-button color="primary" [routerLink]="['/' + PATH_LOGIN]" *ngIf="message">
            {{'general.dismiss' | translate }}
          </button>
        <!-- </a> -->
      </div>
    </div>

    <!-- RECAPTCHA REFERENCE -->
    <div class="recaptcha-reference" *ngIf="!mode">
      <p [innerHTML]="'general.googleRecaptchaReference' | translate "></p>
    </div>

  </div>

</section>
<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
<auth-right-people [type]="rightPeopleType"></auth-right-people>
