body {
  //Disable selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  .allow-selection {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  // Disable outline on input (some browsers like safari add a blue outline to the selected input)
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  //Remove focus effect from material
  :focus {
    outline: 0px; // -webkit-focus-ring-color auto 0px
  }

  .main-container {
    height: 100%;
    overflow: auto;
    padding: 50px 0px 50px 0px;
  }

  .auth-left-border {
    display: none;
  }
  h1,
  h2,
  h3 {
    font-weight: 100;
  }

  p,
  i {
    //don't add span here
    font-size: var(--content-font-size);
    font-weight: 300;
  }

  a {
    color: var(--color-primary-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 0px;
    border-bottom: 1px;
    border-color: var(--color-hrs);
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  //***********************************
  //MISC
  //See general/misc.scss file

  //***********************************
  //COLORS

  .color-blue {
    color: var(--color-primary-blue);
  }
  .color-green {
    color: var(--color-green);
  }
  .color-red {
    color: var(--color-primary-red);
  }
}

@media (max-width: $screen-size-small) {
  body {
    .main-container {
      padding: 10px;
    }
  }
}
