:root {
  --color-body-bg: #fbf8f8; //FOR LOGIN
  --content-bg-color: #fbf8f8;

  //***********************************
  //GENERAL

  --color-primary-blue: #5fa8ff;
  --color-primary-blue-medium: #2f72c2;
  --color-primary-blue-darker: #3e71a3;
  --color-primary-red: #f16c6d;
  --color-primary-red-light-bg: rgba(241, 108, 109, 0.1);
  --color-primary-borders: #dcdada;
  --color-primary-borders-lighter: #dad8d8;
  --color-primary-borders-darker: #c5c3c3;
  --color-primary-light-bg: rgba(47, 113, 194, 0.07);

  --color-shadow-light: rgba(0, 0, 0, 0.05);

  --color-hrs: #dad8d8;

  //***********************************
  //MISC COLORS

  --color-black: #000;
  --color-gray: #eeeeee;
  --color-gray1: #acacac;
  --color-gray-light-transparent: rgb(243 242 242 / 60%);
  --color-white: #fff;
  --color-white-light-transparent: rgb(255 255 255 / 60%);
  --color-white-darker: #ededed;
  --color-transparent: transparent;
  --color-green: #9cd19a;
  --color-orange: #fcbb6d;
  --color-orange-lighter: #ffd6a4;
  --color-gray-spinner: rgb(66, 66, 66);

  //***********************************
  //Notifications

  --color-notification-success: #d8f3d7;
  --color-notification-warning: #ffeed7;
  --color-notification-error: #f7d5d5;
  --color-notification-info: #f5f5f5;

  --color-notification-success-border: #b6e6b5;
  --color-notification-warning-border: #ffdeb5;
  --color-notification-error-border: #f3c3c3;
  --color-notification-info-border: #e6e6e6;

  --color-notification-success-font: #40a03d;
  --color-notification-warning-font: #a06011;
  --color-notification-error-font: #de383a;
  --color-notification-info-font: #343538;

  //***********************************
  //FONTS
  --color-primary-font: #343538;
  --color-secondary-font: #888888;
  --color-alt-font: #a1a1a1;

  //***********************************
  //INPUT
  --color-input-border: #dad8d8;

  //***********************************
  //NAV
  --color-nav-submenu-bg: #f9f9f9;
  --color-nav-submenu-border: #cfcfcf;

  --color-nav-bg: #2f72c2;
  --color-nav-hover: #5591db;
  --color-nav-active: rgb(86 151 230 / 20%);
  --color-nav-separator: rgb(86 151 230 / 80%);
  --color-nav-active-border: rgba(98, 164, 245, 0.651);
  --color-nav-text-color: #FFFFFF;

  --color-nav-mob-bg: #f1f1f1;
  --color-nav-mob-hover: #cecece;
  --color-nav-mob-active: transparent;
  --color-nav-mob-separator: #bdbdbd;
  --color-nav-mob-active-border:  #bdbdbd;
  --color-nav-mob-text-color: #585858;

  //***********************************
  //MAIN HEADER

  --main-header-mat-icon-button-bg-color: #eeeeee;
  --main-header-bg-color: transparent; //#FDFDFD;

  --main-header-text-color: #6b6969;

  //**********
  //MAIN HEADER - SUB MENUS

  --main-header-menus-bg-color: #ffffff;
  --main-header-menus-left-shadow-color: #ececec;
  --main-header-menus-left-button-bg-color: #f3f3f3;

  --main-header-menus-border-left-info-color: rgb(221, 221, 221);
  --main-header-menus-border-left-success-color: #9cd19a;
  --main-header-menus-border-left-warning-color: #fcbb6d;
  --main-header-menus-border-left-error-color: #f16c6d;

  --main-header-menus-header-bg-color: #5fa8ff;
  --main-header-menus-header-arrow-color: #5fa8ff;
  --main-header-menus-header-font-color: #fff;

  //***********************************
  //SNACKBAR

  --color-snackbar-bg: rgba(0, 0, 0, 0.8);
  --color-snackbar-font: #e4e4e4;
  --color-snackbar-button-font: #99c7ff;

  //***********************************
  //TOOLTIP

  --color-tooltip-bg: #000000ce;

  //***********************************
  //SCROLLBAR

  --color-scrollbar-bg: rgba(177, 177, 177, 0.062);
  --color-scrollbar-bar: rgba(61, 61, 61, 0.11);
  --color-scrollbar-bar-hover: rgba(17, 17, 17, 0.308);

  //***********************************
  //LISTS

  --color-lists-bg: rgba(255, 255, 255, 0.3);
  --color-lists-bg-on-hover: rgba(19, 19, 19, 0.015);
  --color-lists-actions-buttons-bg: #fcfafa;
  --color-lists-border: rgba(19, 19, 19, 0.08);




  //---end
}


