:root {

  //============================
  //CONTENT

  --content-default-padding: 20px; //15px 10px;
  --content-default-padding-sm: 5px; //5px 10px;
  --content-font-size: 16px;


  //============================
  //ZINDEX

  --zindex-header: 102;
  --zindex-nav: 100;
  --zindex-subNavs: 101; //other sub menu's with menubar
  --zindex-fullscreen-loader: 10000;
  --zindex-sentry-error-handler: 1000;
  --zindex-offline-notification: 105;
  --zindex-loader-fixed: 103;


  //============================
  //NAV

  --nav-width: 80px;
  --nav-mobile-height: 60px;

  //============================
  //MAIN HEADER

  --main-header-height: 60px;




}
