
  //============================
  //SCREEN SIZES
  //NOTE: There is a TS file: misc.service.ts which contain a JS function to get screen size. If you edit this, then edit there.

  $screen-size-extra-extra-large: 2000px;
  $screen-size-extra-large: 1500px;
  $screen-size-large: 1279px;
  $screen-size-medium: 1000px;
  $screen-size-small: 800px;
  $screen-size-extra-small: 500px;
  $mobile-mode-max-width: $screen-size-small; //The min size to the system to convert to mobile

