@import '../../scss/variables-media-query.scss';

html {
  // body {}

  .auth-left-border{
    display:block;
    width: 15px;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: var(--color-primary-blue);
    z-index:10001;
  }

  .fields {
    transition: all ease-in 0.2s;
    padding-left: 12%;
    margin-top: 0%;
  }

  .auth-logo {
    background: url("../../../assets/img/logo/logo_color-dark-font.svg");
    display: inline-table;
    width: 100%;
    height: 88px;
    max-width: 170px;
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 50px;
    min-width: 120px;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }

  .recaptcha-reference {
    position: fixed;
    bottom: 0px;
    margin: auto;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #827f7f;

    p {
      width: 80%;
      font-size: 13px;
      display: inline-block;
    }
  }
}

//Extra large width devices
@media (min-width: $screen-size-extra-large) {
  html {
    .fields {
      padding-left: 16%;
    }
  }
}

//Large width devices
@media (max-width: $screen-size-large) {
  html {
    .fields {
      padding-left: 8%;
    }
  }
}

// //Medium width devices
// @media (max-width: $screen-size-medium) {
//   html {
//     .fields {
//       padding-left: 4%;
//     }
//   }
// }

//Small width devices
@media (max-width: $screen-size-medium) {
  html {
    body {
      background: linear-gradient(137deg, #ffffff 47%, #f1f1f1 94%);
    }

    .fields {
      padding-left: 0px;
      padding: 25px 20px 25px 30px;
      margin: auto;
      text-align: center;

      h1 {
        font-size: 25pt;
      }
    }

    .auth-logo {
      padding-right: 0px;
      margin: 0px;
      margin: auto;
      margin-bottom: 40px;
    }

    .recaptcha-reference {
      margin-top: 20px;
      position: static;

      p {
        width: 95%;
      }
    }
  }
}


// //Small devices in landscape
// @media (max-height: $screen-size-extra-small) {
//   html {
//     .fields {
//       width: 100%;
//       flex-direction: row !important;
//       margin: 0px;
//       align-items: center;
//       margin-top: 0%;
//     }

//     .auth-logo {
//       margin-right: 30px;
//     }
//     .recaptcha-reference {
//       display: none;
//     }
//   }
// }
