@import '../../../scss/variables-media-query.scss';

$small-bg: '../../../../assets/img/login/galen-asset_login-bg-small.svg';
$med-bg: '../../../../assets/img/login/galen-asset_login-bg-med.svg';
$bg: '../../../../assets/img/login/galen-asset_login-bg.svg';

aside{
    transition: all ease-in 0.2s;
    background-image: url($bg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    background-position: bottom right;
    z-index: -1;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;

    &.small{
      background-image: url($small-bg);
    }

    .content{
      background-repeat: no-repeat;
      height: 100%;
      background-size: contain;
      background-position: right bottom;
      position: fixed;
      bottom: 15px;
      right: 55px;
      width: 47%;

      &.login{
        background-image: url('../../../../assets/img/login/galen-asset_login-people.svg');
      }
      &.forgot-password{
        background-image: url('../../../../assets/img/login/galen-asset_forgot.svg');
      }
      &.register{
        background-image: url('../../../../assets/img/login/galen-asset_register.svg');
      }
      &.register-validating{
        background-image: url('../../../../assets/img/login/galen-asset_register-validating.svg');
      }
      &.register-error{
        background-image: url('../../../../assets/img/login/galen-asset_register-error.svg');
      }
      &.register-validated{
        background-image: url('../../../../assets/img/login/galen-asset_register-validated.svg');
      }
      &.register-success{
        background-image: url('../../../../assets/img/login/galen-asset_register-success.svg');
      }
      &.customer-setup{
        background-image: url('../../../../assets/img/login/galen-asset_register-part2.svg');
      }
      &.two-factor-setup{
        background-image: url('../../../../assets/img/login/galen-asset_two-step.svg');
      }
    }

  }

  @media (max-width: $screen-size-large){
    aside{
      background-image: url($med-bg);

      .content{
        bottom: 15px;
        right: 10px;
        width: 40%;
      }

    }

  }

  @media (max-width: $screen-size-medium){
    aside{
      background-image: url($bg);

      .content{
        display: none;
      }

    }

  }

  @media (max-width: $screen-size-small){
    aside{
      background-image: none;
    }

  }
