<div mat-dialog-title class="file-upload-title">
  <div *ngIf="uploadStage===2 && !finalized" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="grow">
      <h2>
        {{ data.allowedFilesCount > 1 ?  ('upload.uploadingFiles' | translate) : ('upload.uploadingFile' | translate) }}
      </h2>
      <p>{{ 'upload.uploadingFilesSubtitle' | translate }}</p>
    </div>
    <div fxLayoutAlign="end" fxFlexAlign="center">
      <mat-progress-spinner class="progress" [value]="globalPercent" [diameter]="50"
        *ngIf="files.length > 1 && !finalized">
      </mat-progress-spinner>
    </div>
  </div>
</div>

<mat-dialog-content>

  <section class="file-upload">

    <!-- =========================== SELECT FILES STAGE =========================== -->

    <div *ngIf="uploadStage===1">

      <div class="dashed-box {{draggingClass}}" (click)="fileInput.click()" matRipple>
        <div class="image"></div>
        <h2>
          {{ data.allowedFilesCount > 1 ? ('upload.dragOrBrowseFiles' | translate) : ('upload.dragOrBrowseFile' | translate) }}
        </h2>

        <input hidden type="file" #fileInput (change)="uploadFiles($event.target.files)"
          [attr.multiple]="data.allowedFilesCount > 1 ? true : null"
          [attr.accept]="data.allowAnyFile ? allFilesMimeTypes : imagesMimeTypes">

      </div>
    </div>




    <!-- =========================== UPLOAD STAGE =========================== -->

    <div *ngIf="uploadStage===2 && !finalized">
      <ul class="list">
        <li fxLayout="row" *ngFor="let file of files; let i = index">
          <div class="text-center" style="width: 90px">
            <!-- Image -->
            <avatar src="{{file.imageCode}}" [round]="false" *ngIf="file.imageCode"></avatar>

            <!-- When the file is not an image -->
            <fa-icon class="file-icon" [icon]="GICON_FA_FILE" *ngIf="!file.imageCode"></fa-icon>
          </div>
          <div fxFlex="grow" class="file-name">{{file.name}}</div>
          <div fxHide.lt-sm style="width: 90px;">{{(file.size * 0.000001).toFixed(2) + 'Mb'}}</div>
          <div fxLayoutAlign="end" fxHide.lt-sm style="width: 90px;">
            <button mat-icon-button *ngIf="file.uploadPercent < 100 && !file.isCancelled">
              <fa-icon [icon]="GICON_X" matTooltip="{{'general.cancel' | translate}}" matTooltipPosition="above"
                (click)="cancelUpload(file)">
              </fa-icon>
            </button>
          </div>
          <div style="width: 50px;">
            <div *ngIf="file.uploadPercent < 100 && !file.isCancelled">
              <mat-progress-spinner class="progress" [value]="file.uploadPercent" [diameter]="30">
              </mat-progress-spinner>
            </div>

            <fa-icon class="file-status complete animate__animated  animate__bounceIn" [icon]="GICON_FA_CHECK"
              *ngIf="file.uploadPercent === 100 && !file.isCancelled"></fa-icon>
            <fa-icon class="file-status cancelled animate__animated  animate__bounceIn" [icon]="GICON_X"
              *ngIf="file.isCancelled"></fa-icon>
          </div>
        </li>
      </ul>
    </div>




    <!-- =========================== FINISHED STAGE =========================== -->

    <div *ngIf="finalized" fxLayout="column" fxflexalign="center" fxLayoutAlign="center" class="finished-box">
      <div class="image"></div>
      <h1>{{ 'upload.complete' | translate}}</h1>
    </div>

    <div class="used-quota" *ngIf="getSpaceUsedPercent() > 60 && uploadStage===1">
      <mat-progress-bar mode="determinate" [value]="getSpaceUsedPercent()" [color]="getSpaceUsedPercent() < 90 ? '' : 'warn'"></mat-progress-bar>
      <note-tip [message]="lodashReplace('upload.usedQuota' | translate,'{$1}', getSpaceUsedPercent())" [show-line]="false" [show-smyle]="false"></note-tip>
    </div>
    <small *ngIf="devEnvironment">Storage will not increase on dev env because the local emulator doesn't run storage cloud functions, but it will be uploaded to firebase storage.</small>

  </section>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="data.files"
    *ngIf="!finalized">{{ 'general.cancel' | translate}}</button>
</mat-dialog-actions>
