<!-- Normal button -->
<button mat-flat-button
(click)="openDialog()"
color="{{buttonType}}"
*ngIf="!iconButtonOnly"
offline-disable
[loading]="!customerId">
  <fa-icon [icon]="GICON_FA_CLOUDUPLOAD" *ngIf="showIcon" class="margin-right"></fa-icon>
  <span *ngIf="buttonText !== ''">{{ buttonText | translate}}</span>
  <span *ngIf="buttonText === ''">{{'general.upload' | translate}}</span>
</button>

<!-- Icon button -->
<button mat-icon-button
        (click)="openDialog()"
        class="gray"
        color="{{buttonType}}"
        *ngIf="iconButtonOnly"
        attr.aria-label="{{  (buttonText !== '' ? buttonText : 'general.upload') | translate}}"
        matTooltip="{{ (buttonText !== '' ? buttonText : 'general.upload') | translate}}"
        offline-disable>
  <fa-icon [icon]="GICON_FA_CLOUDUPLOAD"></fa-icon>
</button>
