@import '../../../scss/variables-media-query.scss';

.file-upload-title{
  h2{
    margin:0px;
  }
}

.file-upload {
  position: relative;
  min-width: 800px;
  transition: all ease-in 0.1s;

  .dashed-box {
    padding: 40px 60px;
    margin: 0px;
    border-radius: 4px;
    text-align: center;

    h1, h2 {
      margin: 0px;
    }

    .image{
      height: 250px;
      background-image: url('../../../../assets/img/Misc/galen-asset_upload-file.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.dragging{
      transition: all ease-in 0.1s;
      border: 3px dashed var(--color-primary-blue);
      background-color: var(--color-primary-light-bg);
    }
    &.dragging-not-allowed{
      transition: all ease-in 0.1s;
      border: 3px dashed var(--color-primary-red);
      background-color: var(--color-primary-red-light-bg);
    }
    &.not-dragging{
      transition: all ease-in 0.1s;
      border: 2px dashed transparent;
      background-color: transparent;

      &:hover{
        transition: all ease-in 0.1s;
        background-color: var(--color-primary-light-bg);
        border-color: var(--color-gray1);
        cursor:pointer;
      }
    }
  }

  .used-quota{
    margin-top:30px;

    mat-progress-bar {
      margin-bottom: 5px;
    }
  }

  .file-icon{
    color: var(--color-primary-blue);
    font-size: 22pt;
    margin-left: 15px;
    margin-right: 14px;
  }

  .file-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .file-status{
    &.complete{
      color: var(--color-primary-blue);
    }
    &.cancelled{
      color: var(--color-primary-red);
    }
    font-size: 20pt;
    margin-top: 7px;
  }

  .finished-box {
    display: inline-block;
    height: 400px;
    text-align: center;

    .image{
      height: 250px;
      background-image: url('../../../../assets/img/Misc/galen-asset_completed.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: $screen-size-medium) {
  .file-upload-title{
    p{
      display: none;
    }
  }

  .file-upload {
    min-width: auto;

    .dashed-box {
      padding: 5px;
      margin: 10px;
      border: none;

      .icon {
        display: none;
      }

      p{
        display: none;
      }
    }
  }
}
