<div class="nothing-found">
  <div class="image-box"
       [ngClass]="{'image1': image === 1, 'image2': image === 2}"
       [style]="{'height': height + 'px'}"></div>
       <h1 *ngIf="image === 1">{{ titleRef | translate }}</h1>
       <h2 *ngIf="image !== 1">{{ titleRef | translate }}</h2>
  <p>{{ subtitleRef | translate }}</p>
</div>
