.nothing-found{
  text-align: center;
  padding: 50px 40px;

  .image-box{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-position: center center;

    &.image1 {
      background-image: url('../../../../assets/img/Misc/galen-asset_nothing-found.svg');
    }
    &.image2 {
      background-image: url('../../../../assets/img/Misc/galen-asset_nothing-found-2.svg');
    }
  }

  h2 {
    margin: 2px;
  }

  p{
    font-size: 20px;
  }
}
