
  <header class="header-pages fixed border-bottom">
    <div>
      <h2>{{ 'general.users' | translate }}</h2>
    </div>
    <div>
      <button mat-icon-button class="gray" matTooltip="{{'user.addUserTooltip' | translate}}" [routerLink]="['/', PATH_ACCOUNT, PATH_ACCOUNT_USERS, 'add']" [disabled]="quotas.usedQuota.users === (billingPlanDetails.quotas.users + quotas.additionalUsers)">
        <fa-icon [icon]="GICON_ADD"></fa-icon>
      </button>
    </div>
    <div>
      <icon-search-bar (onSearchEvent)="onSearch($event)"></icon-search-bar>
    </div>

    <div>
      You have used {{quotas.usedQuota.users}}
      {{billingPlanDetails.quotas.users + quotas.additionalUsers}}
    </div>

  </header>

  <div class="content">
    <ul class="list on-hover-bg no-border-left" *ngFor="let userGroup of groupedUsers">
      <li class="titles" *ngIf="userGroup.group === 'true'">{{'general.secretaries' | translate }}</li>
      <li class="titles" *ngIf="userGroup.group === 'false'">{{'general.doctors' | translate }}</li>
      <li class="titles" *ngIf="userGroup.group === 'undefined'">{{'general.notSpecified' | translate }}</li>
      <li class="heading">
        <span class="user-photo"></span>
        <span class="name">{{ 'general.name' | translate }}</span>
        <span class="hide-on-mobile email">{{ 'general.email' | translate }}</span>
        <span class="hide-on-mobile role">{{ 'general.role' | translate }}</span>
        <span class="hide-on-mobile specialty">{{ 'general.specialty' | translate }}</span>
      </li>
      <li matRipple *ngFor="let user of userGroup.items" (click)="onClickUser(user)" [ngClass]="{'border-left-red': user.isDisabled}">
        <span class="user-photo">
          <mat-spinner diameter="25" *ngIf="!user.isAddedToFirebaseAuth" matTooltip="{{'general.waitingServerToFinish' | translate}}"></mat-spinner>
          <avatar [imageObject]="user.photo ? user.photo : null" [width]="40" [height]="40" [name]="user.fullName" *ngIf="user.isAddedToFirebaseAuth"></avatar>
        </span>
        <span class="name">{{user.fullName}} <span class="color-red" *ngIf="user.isDisabled">({{ 'general.disabled' | translate }})</span></span>
        <span class="hide-on-mobile email">{{user._email}}</span>
        <span class="hide-on-mobile role">{{ user._roleName | translate }}</span>
        <span class="hide-on-mobile specialty">{{user.specialtyName}}</span>
        <span class="actions">
          <context-menu [content]="getContextMenu(user)" [data]="user" (onClickEvent)="onContextMenuClick($event)"></context-menu>
        </span>

      </li>
    </ul>
  </div>
