@import "../../../scss/variables-media-query.scss";


  .user-photo{
    width: 50px;
  }

  .name,
  .email,
  .role,
  .specialty {
    width: 21%;
  }



  .content{
    padding-top:100px;
    margin: var(--content-default-padding);
    margin-top: 0px;
  }


@media (max-width: $screen-size-large) {
    .name,
    .email,
    .role {
      width: 23%;
    }
    .specialty {
      display: none;
    }
}

@media (max-width: $screen-size-medium) {
    .name,
    .email {
      width: 40%;
    }

    .role,
    .specialty {
      display: none;
    }
}

@media (max-width: $mobile-mode-max-width) {
    .content {
      margin: var(--content-default-padding-sm);
    }
}
