@import '../../../scss/variables-media-query.scss';

body {
  .install-app-menu {
    min-width: 300px;
    max-width: 300px;
    text-align: center;

    .arrow-up{
      right: 124px;
    }

    .install-image {
      background-image: url('../../../../assets/img/Misc/galen-asset_service-worker-install-app.svg');
      width: 100%;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: $screen-size-small) {
  body {
    .install-app-menu {
      .arrow-up{
        right: 108px;
      }
    }
  }

}
