<button mat-icon-button color="secondary" [matMenuTriggerFor]="installAppMenu"
  matTooltip="{{ 'serviceWorker.installTitle' | translate}}"
  matTooltipPosition="below"
  [ngClass]="{'hidden': !showButton}">
  <fa-icon [icon]="gIcon_cloudDownload"></fa-icon>
</button>

<mat-menu class="header-submenus install-app-menu" #installAppMenu="matMenu"
[ngClass]="{'hidden': !showButton}">
  <div class="mat-menu-content" (click)="$event.stopPropagation()">
    <div class="arrow-up"></div>
    <div class="header-submenu-header">
    </div>
    <div class="header-submenu-content">

      <!-- Install -->
      <div class="menu-item">

        <div class="install-image"></div>
        <div>
          <h3 class="title">{{ 'serviceWorker.installTitle' | translate}}</h3>
          <p>{{ 'serviceWorker.installSubTitle' | translate}}</p>


          <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center">
            <button mat-flat-button color="primary" (click)="addToHomeScreen()">
              {{ 'serviceWorker.proceed' | translate}}
            </button>

            <button mat-flat-button color="secondary" (click)="closeMenu()">
              {{ 'general.notNow' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-menu>
