@import '../../../../scss/variables-media-query.scss';

.content {
  margin: var(--content-default-padding);
  padding-top: 70px;
  max-width: 800px;
  margin: auto;

  .user-main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    h2 {
      font-weight: bold;
      margin: 0px;
    }

    .profile-pic {
      position: relative;

      > div {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transition: all ease-in-out 0.2s;
      }
      &:hover {
        > div {
          opacity: 1;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }

  li span:first-child {
    width: 180px;
  }

}

@media (max-width: $screen-size-extra-small) {
  .content {
    .user-main-info {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      text-align: center;
    }

    li span:first-child {
      width: 100px;
    }
  }
}
