<header class="header-pages fixed">
  <div>
    <button mat-icon-button class="gray" matTooltip="{{'general.return' | translate}}"
      [routerLink]="['/', PATH_ACCOUNT, PATH_ACCOUNT_USERS]">
      <fa-icon [icon]="GICON_BACK"></fa-icon>
    </button>
  </div>
</header>

<div class="content">
  <nothing-found titleRef="user.notFound" subtitleRef="user.notFoundSubText" *ngIf="!user" [height]="400">
  </nothing-found>


  <div class="user-main-info" *ngIf="user">
    <div class="profile-pic">
      <avatar [imageObject]="user ? user.photo ? user.photo : null : null" width="120" height="120" [bigBorder]="true"
        [openOnClick]="true" [name]="'RA E'"></avatar>
      <div>
        <file-upload [firebase-storage-path]="userProfilePhotoType" firestore-property-name="photo"
          [firestore-path]="profilePictureFirestorePath" [record-id]="user._email" button-text="general.change"
          [icon-button-only]="true" max-file-size-mb="5" [allowed-files-count]="1">
        </file-upload>
      </div>
    </div>
    <div>
      <h2 [ngClass]="{'color-red': user?.isDisabled}">{{ user.fullName }}</h2>

      <button mat-icon-button class="gray" matTooltip="{{'general.edit' | translate}}"
        [routerLink]="['/', PATH_ACCOUNT, PATH_ACCOUNT_USERS, 'edit', user._email]">
        <fa-icon [icon]="GICON_EDIT"></fa-icon><span class="hide-on-mobile"></span>
      </button>
      <button mat-icon-button class="gray" *ngIf="!disableSameUserFields"
        matTooltip="{{ (user.isDisabled ?  'general.enable' : 'general.disable') | translate}}"
        (click)="toggleEnableDisable()" [loading]="disablingUser">
        <fa-icon [icon]="user.isDisabled ? GICON_UNLOCK : GICON_LOCK"></fa-icon><span class="hide-on-mobile"></span>
      </button>
      <button mat-icon-button class="gray" matTooltip="{{'user.resetPassword' | translate}}"
        (click)="confirmResetPasswordDialog()" [loading]="sendingResetLink" offline-disable>
        <fa-icon [icon]="GICON_PASSWORD_KEY"></fa-icon><span class="hide-on-mobile"></span>
      </button>
      <button mat-icon-button class="gray" *ngIf="!disableSameUserFields" matTooltip="{{'general.delete' | translate}}"
        (click)="confirmDeleteDialog(user.fullName, user._email);">
        <fa-icon [icon]="GICON_DELETE"></fa-icon><span class="hide-on-mobile"></span>
      </button>
    </div>
  </div>

  <inline-notification message="{{ 'user.userCantAccessYet' | translate}}" type="info"
    *ngIf="user && !user.isAddedToFirebaseAuth"></inline-notification>


  <!-- VIEW USER -->
  <section class="box" [ngClass]="{'gray': user?.isDisabled, 'white': !user?.isDisabled}" *ngIf="user">
    <div>
      <div>
        <h2>{{ 'user.basicInfo' | translate }}</h2>
      </div>
      <ul class="list clear no-overflow options-list">
        <li>
          <span>{{ 'user.fullName' | translate}}</span>
          <span>{{ user.fullName }}</span>
        </li>
        <li>
          <span>{{ 'general.email' | translate}}</span>
          <span>{{ user._email }}</span>
        </li>
        <li [ngClass]="{'color-red': user?.isDisabled}">
          <span>{{ 'general.enabled' | translate}}</span>
          <span>{{ (user.isDisabled ? 'general.no' : 'general.yes') | translate}}</span>
        </li>
        <li *ngIf="user.phone && user.phone.phone !== ''">
          <span>{{ 'general.phone' | translate}}</span>
          <span>{{ user.phone.phone }}</span>
          <span *ngIf="user.phone.extensionName">{{ user.phone.extensionName }}:</span>
          <span *ngIf="user.phone.extension">{{ user.phone.extension }}</span>
        </li>
        <li *ngIf="user.specialtyId">
          <span>{{ 'user.specialty' | translate }}</span>
          <span>{{ user.specialtyName }}</span>
        </li>
        <li *ngIf="user.language">
          <span>{{ 'general.systemLanguage' | translate }}</span>
          <span>{{ user.language.toUpperCase() }}</span>
        </li>
        <li *ngIf="user.dateFormatId">
          <span>{{ 'general.dateFormat' | translate }}</span>
          <span>{{ getDateFormatName(user.timeFormatId) }}</span>
        </li>
        <li *ngIf="user.timeFormatId">
          <span>{{ 'general.timeFormat' | translate }}</span>
          <span>{{ getTimeFormatName(user.timeFormatId) }}</span>
        </li>
      </ul>
    </div>
  </section>
  <div class="spacing"></div>

  <section class="box" [ngClass]="{'gray': user?.isDisabled, 'white': !user?.isDisabled}" *ngIf="user">
    <div>
      <div>
        <h2>{{ 'general.security' | translate }}</h2>
      </div>
      <ul class="list clear no-overflow options-list">
        <li>
          <span>{{ 'general.role' | translate }}</span>
          <span>{{ user._roleName | translate }}</span>
        </li>
        <li>
          <span>{{ 'user.hasAccessToClinics' | translate }}</span>
          <span>{{ user.accessToClinicsIds && user.accessToClinicsIds.length > 0 ?
            getAccessToClinicsList(user.accessToClinicsIds).join(", ") : 'general.all2' | translate }}</span>
        </li>
      </ul>
    </div>
  </section>
  <div class="spacing"></div>
</div>
