<header class="header-pages fixed">
  <div>
    <button mat-icon-button class="gray" matTooltip="{{'general.cancel' | translate}}"
      [routerLink]="[(userEmail === '' ? ('/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS) : ('/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS + '/view/' + userEmail))]">
      <fa-icon [icon]="GICON_BACK"></fa-icon>
    </button>
  </div>
  <div>
    <h2>{{ (userEmail !== "" ? 'user.editUser' : 'user.addUser') | translate }}</h2>
  </div>
</header>

<nothing-found titleRef="user.notFound" subtitleRef="user.notFoundSubText" *ngIf="!user" [height]="400">
</nothing-found>

<div class="content" *ngIf="user">
  <section class="box white">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUserInfo()">

      <div>
        <button type="submit" mat-flat-button color="primary" [loading]="saving">
          {{ 'general.save' | translate }}
        </button>

        <button type="button" mat-button
          [routerLink]="[(userEmail === '' ? ('/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS) : ('/' + PATH_ACCOUNT + '/' + PATH_ACCOUNT_USERS + '/view/' + userEmail))]">
          {{'general.cancel' | translate }}</button>
      </div>
      <hr>


      <div>
        <mat-slide-toggle formControlName="nonDoctor">{{ 'user.nonDoctor' | translate}}</mat-slide-toggle>
        <br *ngIf="!disableSameUserFields">
        <mat-slide-toggle formControlName="isDisabled" *ngIf="!disableSameUserFields">{{ 'general.disabled' | translate}}</mat-slide-toggle>
      </div>

      <hr>

      <div>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap="10px">

          <!-- FULL NAME -->
          <mat-form-field class="full-width" fxFlex.gt-sm="calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{'user.fullName' | translate }} <span class="required">*</span></mat-label>
            <input type="text" formControlName="fullName" matInput placeholder="{{'user.fullName' | translate}}">
            <mat-error *ngIf="userForm.controls.fullName.hasError('required')">
              {{'user.fullNameRequired' | translate}}</mat-error>
          </mat-form-field>

          <!-- EMAIL -->
          <mat-form-field class="full-width" fxFlex.gt-sm="calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{'general.email' | translate }} <span class="required">*</span></mat-label>
            <input type="text" formControlName="_email" matInput placeholder="{{'general.exampleEmail' | translate}}">
            <mat-error *ngIf="userForm.controls._email.hasError('required')">
              {{'general.emailRequired' | translate}}</mat-error>
            <mat-error
              *ngIf="userForm.controls._email.dirty && !userForm.controls._email.hasError('required') && userForm.controls._email.invalid">
              {{'general.emailInvalid' | translate}}</mat-error>
          </mat-form-field>

        </div>

        <div fxLayout fxLayout.lt-md="column" fxLayoutGap="10px">

          <!-- ROLE -->
          <mat-form-field fxFlex.gt-sm="calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{ 'general.role' | translate}} <span class="required">*</span></mat-label>
            <mat-select formControlName="_roleId">
              <mat-option *ngFor="let role of roles" [value]="role.roleId">
                {{role.name}}
              </mat-option>
            </mat-select>
            <help-icon matSuffix langRefString="security.roleListTooltip"></help-icon>
            <mat-error *ngIf="userForm.controls._roleId.hasError('required')">
              {{'user.roleIsRequired' | translate}}</mat-error>
          </mat-form-field>

          <!-- SPECIALTY -->
          <mat-form-field fxFlex.gt-sm="calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)"
            *ngIf="!userForm.controls.nonDoctor.value">
            <mat-label>{{ 'user.specialty' | translate}}</mat-label>
            <mat-select formControlName="specialtyId">
              <mat-option *ngFor="let specialty of specialties" [value]="specialty.id">
                {{specialty.name}}
              </mat-option>
            </mat-select>
            <help-icon matSuffix langRefString="user.specialtyListTooltip"></help-icon>
          </mat-form-field>

        </div>

        <div fxLayout fxLayout.lt-md="column" fxLayoutGap="10px">
          <!-- PHONE -->
          <mat-form-field class="full-width" fxFlex.gt-sm="calc(50%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{'general.phone' | translate }}</mat-label>
            <input type="text" formControlName="phone" matInput placeholder="{{'general.phone' | translate}}">
            <mat-error  *ngIf="userForm.controls.phone.dirty && userForm.controls.phone.hasError('invalid')">
              {{'general.phoneInvalid' | translate}}</mat-error>
          </mat-form-field>

          <!-- PHONE EXT -->
          <mat-form-field class="full-width" fxFlex.gt-sm="calc(25%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{'general.phoneExtension' | translate }}</mat-label>
            <input type="text" formControlName="phoneExtension" matInput
              placeholder="{{'general.phoneExtension' | translate}}">
          </mat-form-field>

          <!-- PHONE NAME -->
          <mat-form-field class="full-width" fxFlex.gt-sm="calc(25%-10px)" fxFlex.lt-md="calc(100%-10px)">
            <mat-label>{{'general.phoneExtensionName' | translate }}</mat-label>
            <input type="text" formControlName="phoneExtensionName" matInput
              placeholder="{{'general.phoneExtensionName' | translate}}">
          </mat-form-field>
        </div>
      </div>

      <!-- CLINICS -->
      <div fxLayout>
        <h3 fxFlex="auto">{{ 'user.accessToClinics' | translate}}</h3>
        <help-icon matSuffix langRefString="user.accessToClinicsTooltip"></help-icon>
      </div>
      <hr>

      <div>
        <mat-slide-toggle formControlName="accessToAllClinicsCheckbox">{{ 'user.hasAccessToAll' | translate}}</mat-slide-toggle>

        <mat-selection-list *ngIf="userForm.controls.accessToAllClinicsCheckbox.value === false" formControlName="accessToClinicsIds">
          <mat-list-option *ngFor="let clinic of clinics" [value]="clinic.clinicId" >
            {{ clinic.clinicName }}
          </mat-list-option>
        </mat-selection-list>
      </div>

       <!-- OVERRIDE SYSTEM SETTINGS -->
      <div fxLayout>
        <h3 fxFlex="auto">{{ 'user.overrideSystemDefault' | translate}}</h3>
        <help-icon matSuffix langRefString="user.overrideSystemDefaultTooltip"></help-icon>
      </div>

      <hr>
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap="10px">

        <!-- LANGUAGE -->
        <mat-form-field fxFlex.gt-sm="calc(40%-10px)" fxFlex.lt-md="calc(100%-10px)">
          <mat-label>{{ 'general.systemLanguage' | translate}}</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languagesList" [value]="language.language">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- DATE FORMAT -->
        <mat-form-field fxFlex.gt-sm="calc(30%-10px)" fxFlex.lt-md="calc(100%-10px)">
          <mat-label>{{ 'general.dateFormat' | translate}}</mat-label>
          <mat-select formControlName="dateFormatId">
            <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat.id">
              {{dateFormat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- TIME FORMAT -->
        <mat-form-field fxFlex.gt-sm="calc(30%-10px)" fxFlex.lt-md="calc(100%-10px)">
          <mat-label>{{ 'general.timeFormat' | translate}}</mat-label>
          <mat-select formControlName="timeFormatId">
            <mat-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.id">
              {{timeFormat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </form>
  </section>
</div>
