<section class="main-container two-factor-setup-component" fxLayout="row" fxLayoutAlign="left center"
  fxLayoutAlign.lt-sm="left top">

  <div class="fields" fxLayout="column" fxFlex.gt-md="42" fxFlex.gt-sm="55" fxFlex.xl="37">
    <div class="auth-logo animate__animated  animate__bounce" title="{{'general.logoTitle' | translate}}"></div>

    <div class="animate__animated  animate__fadeInDown animate__faster">
      <!-- ====================================================== -->
      <!-- 2 STEP AUTH SETUP + EMAIL VERIFICATION -->


      <!-- FIRST STAGE: ENTER PHONE NUMBER -->
      <div *ngIf="twoStepVerificationStage === 'sendSms'">
        <h1 [innerHTML]="twoStepHeadingTitle"></h1>
        <p>{{'appSetup.2stepText1' | translate }}</p>
        <p>{{'appSetup.2stepText2' | translate }}</p>

        <form [formGroup]="twoStepForm" (ngSubmit)="onSubmitTwoStep()">
          <mat-form-field class="full-width">
            <mat-label>{{'general.phone' | translate}}</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" formControlName="phone">

            <fa-icon [icon]="GICON_FA_QUESTIONCIRCLE" matSuffix matTooltip="{{'appSetup.2stepTextExplain' | translate}}"
              matTooltipPosition="above"></fa-icon>

            <mat-error *ngIf="twoStepForm.controls.phone.dirty && twoStepForm.controls.phone.hasError('required')">
              {{'general.phoneRequired' | translate}}</mat-error>
            <mat-error
              *ngIf="twoStepForm.controls.phone.dirty && twoStepForm.controls.phone.hasError('invalid')">
              {{'general.phoneInvalid' | translate}}</mat-error>
          </mat-form-field>

          <inline-notification [message]="message" [type]="messageType"></inline-notification>


          <div fxLayout="row" fxLayout.lt-sm="column">
            <button type="submit" mat-flat-button color="primary" [loading]="twoFactorSubmitting" class="full-width" offline-disable>
              {{'general.submit' | translate }}
            </button>
            <button type="button" mat-button class="full-width"
              (click)="logOut()">{{'login' | translate }}</button>
          </div>

        </form>

      </div>


      <!-- SECOND STAGE: ENTER CODE AND VALIDATE -->
      <div *ngIf="twoStepVerificationStage === 'validateCode'"
        class="animate__animated  animate__fadeInRight animate__faster">

        <h1>{{'appSetup.verifyPhoneSms' | translate }}</h1>
        <p>{{'appSetup.2stepText3' | translate }}</p>

        <form [formGroup]="twoStepSmsCodeVerificationForm" (ngSubmit)="onSubmitTwoStepSmsCodeVerification()">
          <mat-form-field class="full-width">
            <mat-label>{{'general.code' | translate}}</mat-label>
            <input type="text" matInput formControlName="code">
            <mat-error
              *ngIf="twoStepSmsCodeVerificationForm.controls.code.dirty && twoStepSmsCodeVerificationForm.controls.code.hasError('required')">
              {{'general.codeRequired' | translate}}</mat-error>
          </mat-form-field>

          <inline-notification [message]="message" [type]="messageType"></inline-notification>

          <div fxLayout="row" fxLayout.lt-sm="column">
            <button type="submit" mat-flat-button color="primary" [loading]="twoFactorSubmitting" class="full-width" offline-disable>
              {{'general.validate' | translate }}
            </button>
            <button type="button" mat-button class="full-width"
              (click)="tryAgain()" [disabled]="twoFactorIsDisabled">
              {{twoFactorIsDisabled ? twoFactorIsDisabledIntervalCount : ""}} {{'general.tryAgain' | translate }}</button>
          </div>

        </form>
      </div>

      <!-- THIRD STAGE: CONFIRMATION -->
      <div *ngIf="twoStepVerificationStage === 'validated'"
        class="animate__animated  animate__fadeInRight animate__faster">
        <h3><fa-icon [icon]="GICON_FA_CHECK"></fa-icon> {{'appSetup.verificationComplete' | translate }}</h3>
      </div>
    </div>

    <div class="recaptcha-reference">
      <p [innerHTML]="'general.googleRecaptchaReference' | translate "></p>
    </div>

    <div id="recaptchaContainer"></div>

  </div>
</section>

<div class="auth-left-border animate__animated animate__fadeInLeft"></div>
<auth-right-people type="two-factor-setup" small="true"></auth-right-people>
