@import '../../../scss/variables-media-query.scss';

body {
  .notifications-menu {

    .header-submenu-content {
      overflow: auto;

      .menu-item {
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: var(--main-header-menus-border-left-info-color);
        display: flex;
        flex-direction: row;
        align-items: center;

        &.info{
          border-left-color: var(--main-header-menus-border-left-info-color);
          // background-color: rgba(var(--main-header-menus-border-left-info-color), 0.05);
        }

        &.warning{
          border-left-color: var(--main-header-menus-border-left-warning-color);
          // background-color: rgba(var(--main-header-menus-border-left-warning-color), 0.05);
        }

        &.error{
          border-left-color: var(--main-header-menus-border-left-error-color);
          // background-color: rgba(var(--main-header-menus-border-left-error-color), 0.05);
        }

        &.success{
          border-left-color: var(--main-header-menus-border-left-success-color);
          // background-color: rgba(var(--main-header-menus-border-left-success-color), 0.05);
        }

        .text {
          flex-grow: 1;
          padding: 5px 20px;
          word-break: break-all;

          > .date{
            font-size: 13px;
            display: block;
            margin-top: 0px;
          }
        }
        .right-icons{
            width: 40px;
            text-align: right;
            font-size: 10px;
        }
        .mat-button{
          min-width: auto;
        }

      }

    }
  }


  @media(max-width: $screen-size-small) {
    .notifications-menu {

      .header-submenu-content {
        .menu-item {
          > avatar {
            display: none;
          }

          .text {
            flex-grow: 1;
            padding: 5px 20px;
          }
          .right-icons{
              width: 40px;
              text-align: right;
              font-size: 10px;
          }
          .mat-button{
            min-width: auto;
          }

        }
      }
    }
  }
}
