<button mat-icon-button color="secondary" [matBadge]="notificationsCount > 0 ? notificationsCount : null"
  matBadgeColor="warn" [matBadgePosition]="isOffline ? 'after below' : 'after above'"
  matTooltip="{{ 'general.notifications' | translate}}" matTooltipPosition="below"
  [matMenuTriggerFor]="notificationsMenu" (menuOpened)="loadNotifications()" (menuClosed)="resetNotifications()">

  <fa-icon [icon]="GICON_NOTIFICATION"></fa-icon>
</button>


<mat-menu class="header-submenus notifications-menu" #notificationsMenu="matMenu" xPosition="before">
  <div class="mat-menu-content" (click)="$event.stopPropagation()">
    <div class="arrow-up"></div>
    <div class="header-submenu-header">
      <span class="title"><fa-icon [icon]="GICON_NOTIFICATION"></fa-icon> {{ 'general.notifications' | translate}}</span>
    </div>
    <div class="header-submenu-content">
      <nothing-found titleRef="mainHeader.notifications.nothingFoundTitle"
        subtitleRef="mainHeader.notifications.nothingFoundSubTitle"
        *ngIf="!loading && notifications?.length === 0"
        [height]="300"
        [image]="2">
      </nothing-found>

      <!-- Menu items -->

      <div *ngFor="let notification of notifications" class="menu-item {{notification?.status}}">

        <avatar [src]="getAvatarUrl(notification)" [width]="45" [height]="45" [border]="false"></avatar>

        <p class="text">
          <span [innerHTML]="notification.message"></span>
          <span class="date">{{ notification.dateUnix | customerDate | async }}</span>
        </p>

        <div class="actions" *ngIf="notification.action">
          <button type="button" mat-button (click)="handleAction(notification)">{{ notification.actionNameLangRef | translate}}</button>
        </div>

        <span class="right-icons" *ngIf="!notification.isRead">
          <fa-icon [icon]="GICON_FA_SOLID_CIRCLE" class="color-blue"></fa-icon>
        </span>

      </div>
    </div>
  </div>

  <loader-full-screen [loading]="loading"></loader-full-screen>
</mat-menu>
