@import 'scss/variables-media-query.scss';

/** ===========================
    Development message
*/
.dev-message {
  position: fixed;
  top: 0px;
  color: red;
  z-index: 10000000000;
  font-size: 12pt;
  display: block;
  height: 30px;
  border-top: 15px solid red;
  width: 25%;
  left: 37%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  animation: dev-opacity 8s forwards;
}
@keyframes dev-opacity {
  from {opacity: 1;}
  to {opacity: 0.4;}
}



@media (max-width:  $screen-size-large) {
  .dev-message{
    border-top-width: 4px;
    font-size: 10pt;

  }
}


@media (max-width:   $mobile-mode-max-width) {
  .dev-message{
    color: white;
    width: fit-content;
    left: 15%;

  }
}
/**
    END Development message
    ===========================
*/
