
<!-- Note: The main loader displayed while the app is loading, is located on the index.html file -->
<loader-full-screen [loading]="loading"
                    [showG]="showLoadingGalenLogo && initialLoad"
                    [showSpinner]="showLoadingSpinner"
                    [spinnerBlue]="true"
                    [fastTransition]="!initialLoad"
                    [relative]="false"></loader-full-screen>

<app-offline-notification></app-offline-notification>

<router-outlet></router-outlet>

<div class="dev-message animate_animated animate__shakeX" *ngIf="isLocal || isDevelopment">
  {{ isDevelopment ? 'DEVELOPMENT SERVER' : (isLocal ? 'LOCAL' : '')}} environment
</div>
